[2015-10-28 15:52] bondar-pavel opened #4 "Create_network in object_manager do not generate options"
Currently additional fields for Network are processed incorrectly.

Parameters like gateway_ip, nameservers, relay_trel_ip should be generated as 'options' and passed to Network rather than just send it as Network field

[2015-10-30 15:54] #4 closed

[2015-11-04 15:23] bondar-pavel opened #5 "Need to return Zone if it was created"
Currentry None is returned from create_dns_zone:
https://github.com/infobloxopen/infoblox-client/blob/master/infoblox_client/object_manager.py#L249

Need to return created DnsZone object.

[2015-11-06 09:23] #5 closed

[2015-11-13 13:51] bondar-pavel opened #11 "_return_fields limits lower border of wapi_version"
On each request list of _return_fields is sent to NIOS.
But if field that is present in _return_fields is not supported by current wapi_version then request fails.
For example EADefinition return_fields requires wapi_version 2.2, on wapi_version below 2.2 any request to this object will fail.
Currently possible workaround for package users are:
- set return_fields manually on search, where each li

[2015-11-24 18:34] hosunghwang opened #15 "'configure_for_dhcp' does not work."
I used the following options to create ip allocator.

options['use_host_record'] = True
options['configure_for_dhcp'] = False
ip_allocator.IPAllocator(self.ibom, options)

But when I allocated ip using allocate_ip_from_range call, configure_for_dhcp option was not working correctly.

This is the trace from the api call.

Infoblox record:host was created: HostRecordV4: extattrs="EAs:Account=None,Po

[2015-11-24 21:14] hosunghwang opened #16 "'configure_for_dhcp' does not work."
I used the following options to create ip allocator.

options['use_host_record'] = True
options['configure_for_dhcp'] = False
ip_allocator.IPAllocator(self.ibom, options)

But when I allocated ip using allocate_ip_from_range call, configure_for_dhcp option was not working correctly.

This is the trace from the api call.

Infoblox record:host was created: HostRecordV4: extattrs="EAs:Account=None,Po

[2015-11-24 21:15] hosunghwang opened #17 "ib_objects.FixedAddress.search fails"
While xecuting the following code from deallocate(), I got errors below.

fa = ib_objects.FixedAddress.search(self._ib_context.connector,
                                    network_view=mapped_netview,
                                    ip=ip_address)

2015-11-24 10:36:25.421 ERROR neutron.api.v2.resource [req-52422d03-c7f5-48d7-9c8f-91be7be0df17 admin 4befcd541d594ac6a60389243a0b0ef6] delete fa

[2015-11-24 22:06] hosunghwang opened #18 "Floating IP creating fails"
When trying to create a floating ip, add_ip_to_host_record_from_range() is executed but failed with the following error:

. . .
2015-11-24 11:18:11.900 TRACE neutron.api.v2.resource   File "/usr/local/lib/python2.7/dist-packages/oslo_utils/excutils.py", line 119, in __exit__
2015-11-24 11:18:11.900 TRACE neutron.api.v2.resource     six.reraise(self.type_, self.value, self.tb)
2015-11-24 11:18:11.9

[2015-11-24 23:22] hosunghwang commented on #18
I showed this error to Stanley.
Stanley suspects that this may be a bug in WAPI.

When testing, try to call WAPI directly and see if it works on WAPI call itself.

Even it is a WAPI error, objects should handle the error better and give me detailed error message.

[2015-11-25 00:12] hosunghwang commented on #18
I traced further and the error is definately coming from objects.py, the folling lines:

    def __getattr__(self, name):
        # Map aliases into real fields
        if name in self._remap:
            return getattr(self, self._remap[name])         <============ 'host' field is not found!
        else:
            # Default behaviour
            raise AttributeError

[2015-11-25 02:03] #15 closed

[2015-11-25 02:10] hosunghwang commented on #18
This is related to host record generation.

Preconditions to create this issue:

1. Use {subnet_name} pattern like "{subnet_name}.cloud.global.com".
2. Create a network as external and shared and then create a subnet.
    At this point, zones should exist and dhcp port IP address should have been created.
3. Now create a floating ip adress in the subnet.
    Now you will see an error from ip alloc

[2015-11-25 03:18] yuewko commented on #11
Off the top of my head....

I believe we should explicitly specify the return_fields that we absolutely need. This will also tell us precisely the minimum wapi_version required. Then, we can simply validate the wapi_version at install time or start up time.

[2015-11-25 07:54] bondar-pavel commented on #17
Is it fails only in pdb?
From trace I see it fails on __repr__ routine which is executed only in debugger.

[2015-11-25 07:58] bondar-pavel commented on #18
At the first look this error message sounds like NIOS limitation/bug:

InfobloxCannotUpdateObject: Cannot update object with ref record:host/ZG5zLmhvc3QkLl9kZWZhdWx0LmNvbS5nbG9iYWwuY2xvdWQuczEuNjlhMTAyODAtMTI3Ni00YTQ4LWEyMDYtYmRmY2EzY2IwNGRh:69a10280-1276-4a48-a206-bdfca3cb04da.s1.cloud.global.com/default: { "Error": "AdmConProtoError: Field is not writable: host",
2015-11-24 11:18:11.900 TRACE ne

[2015-11-25 12:34] bondar-pavel commented on #16
after investigation it turns out that bug is in IPAllocator, not infoblox-client.
Preparing patch and will upload it into gerrit.

[2015-11-25 13:01] bondar-pavel commented on #16
Created fix for networking-infoblox, nothing to do for infoblox-client:
https://review.openstack.org/#/c/249762/

[2015-11-25 13:01] #16 closed

[2015-11-25 13:32] bondar-pavel commented on #17
From stack trace analysis it looks like debugger tries to show object representation before __init__ is finished.
__repr__ tries to get values of (self._fields + self._shadow_fields) and fails because some of them does not exist yet.
Once __init__ is finished fields (self._fields + self._shadow_fields) are already exists in object.

[2015-11-25 13:47] bondar-pavel commented on #17
And Fixed IP creation/search works as expected in my test env:
[code]

[2015-11-25 13:54] #17 closed

[2015-11-25 15:26] bondar-pavel commented on #18
'host' field in IP object was generated on NIOS side during HostRecord creation.
On HostRecord update this field was sent to NIOS, but it cause failure since 'host' field is not writable.
To fix it 'host' field was moved to _shadow_fields so it is no longer send to NIOS on updates.

[2015-11-25 17:54] #18 closed

[2015-11-25 18:27] bondar-pavel opened #20 "Readme on pypi does not look nicely"
Starting from release 0.0.10 pypi page is not parsed correctly and shown as raw text:
https://pypi.python.org/pypi/infoblox-client/0.0.10

For example version 0.0.9 is shown correctly:
https://pypi.python.org/pypi/infoblox-client/0.0.9

Need to figure out which constructions in README.rst prevent it from parsing correctly.

[2015-11-25 21:56] hosunghwang opened #21 "Host Record generation does not work correctly"
When we generate a host record from HostRecordIPAllocator::allocate_ip_from_range,
The following code always returns a host record although fqdn is different.

        host_record = self.manager.find_hostname(
            dns_view, fqdn, first_ip)

fqdn is a randomly generated uuid in this case, so a different host record should be generated.
It looks like search is done in OR condition where it s

[2015-11-26 10:31] bondar-pavel commented on #21
Root cause is that  'name' field in not in search_fields, so fqdn is not passed on search.
https://github.com/infobloxopen/infoblox-client/blob/master/infoblox_client/objects.py#L494
I'll update HostRecord model to include that field.

[2015-11-26 10:50] bondar-pavel commented on #21
This one require more complex fix.
'name' field can act as a search_field and as updatable field, which is not common across other objects.
So introducing new new field type _updateable_search_field that is used to define fields that acts as both updateable and searchable.

[2015-11-27 09:53] bondar-pavel opened #22 "Add option for connector to ignore certificate validation warning"
Currently if HTTPS is used but certificate validation is turned off, log and output is polluted with insecure warnings:
[code]

Need to add option for connector to be able to silent this warning.

[2015-11-27 19:16] yashkin commented on #11
Forcing user to specify ```return_fields``` to mitigate API versions gap, probably, is not a good way to do.
Also keep using the _same_ python class to represent object for all API versions will lead to overcomplicating and bloating of the implementation. Since with all new API versions object fields could be renamed or simply deleted.

So probably the better solution will include the separating o

[2015-11-30 08:43] bondar-pavel commented on #11
I agree with @yashkin, looks like the most reliable way is to have set of objects for each api version.

[2015-11-30 17:56] hosunghwang commented on #22
Yeah! Please add this option.

[2015-12-01 00:10] hosunghwang commented on #21
I tested this and still saw the same issue.
Search came back with the wrong host record because it did not use fqdn for search.

![host_record_error](https://cloud.githubusercontent.com/assets/9219851/11488604/bb5e2638-977c-11e5-90dc-188fa34a3322.png)

[2015-12-01 00:51] hosunghwang commented on #21
The issue is that for search you are passing 'only' flag so that it does not read your new _updateable_search_field at all.

search_dict = ib_obj_for_search.to_dict(search_fields='only')

Your search_dict came back with this when I traced it.
{'ipv4addr': u'8.8.1.2', 'view': 'default'}
So sitll 'name' field is missing.

[2015-12-01 07:21] bondar-pavel commented on #21
Hosung, reason why it doesn't work for you is that fix is committed, but not yeat releases.
Need to bump version for it.
And with fix d001b49a510efc09969607e876ea0f4634dfea1f adds 'name' to searchfields too, so should work fine

[2015-12-01 07:47] hosunghwang commented on #21
Oh...I see.
Why don't you bump the version for it?

[2015-12-01 08:16] bondar-pavel commented on #21
I'll bump it today and release a new version (probably in a few hours)

[2015-12-01 08:38] bondar-pavel commented on #20
Looks like '**kwargs' was breaking formatting.
Adding escaping for it.

[2015-12-01 08:40] #20 closed

[2015-12-01 08:58] bondar-pavel commented on #21
released 0.1.0 https://pypi.python.org/pypi/infoblox-client

[2015-12-01 08:58] #21 closed

[2015-12-01 09:07] bondar-pavel opened #23 "Need to clean up utils.py"
A lot of routines in utils.py are not used in infoblox-client, so may represent dead code.
Originally they were added from previous infoblox ipam driver, but significant part of them is not needed within new design.
Need to create list of routines that are not used by anyone (infoblox-client and networking-infoblox)
and remove them from package.

[2015-12-01 11:16] bondar-pavel opened #24 "Add debug log messages to connector.py"
Currently it is pretty hard to trace which API calls are executed,
so need to add logging with debug level for each api call in connector.py

[2015-12-02 08:39] bondar-pavel opened #25 "Improve error handling in case of unexpected NIOS reply"
Currently if NIOS replies with HTML (in case of error or redirect), json parsing error is shown in log.

[code]

This error in not usefull for user, so if reply is not a valid json, the entire reply should be shown for user in exception.

[2015-12-02 17:35] #22 closed

[2015-12-02 17:36] #25 closed

[2015-12-03 13:51] bondar-pavel opened #30 "IPv6 Networks can not be created if address passed in 'network' field."
Found an issue with IPv6 Network creation and search.
If address is passed using 'network' field IPv4 class is used for search, create.
But search/create works fine if 'cidr' field (alias for 'network' field) is used to pass address.
Need to add 'network' to list of fields that are tested to make decision about using V4 or V6 version of class.

[2015-12-04 12:18] #30 closed

[2015-12-08 08:10] #24 closed

[2015-12-14 15:11] bondar-pavel opened #35 "Do not fail in delete_fixed_address if no fixed ip was found"
Need to update delete_fixed_address to check if fixed_ip is found before trying to delete it.

Error message:

``

2015-12-14 15:01:41.482 TRACE neutron.api.v2.resource   File "/usr/local/lib/python2.7/dist-packages/networking_infoblox/ipam/driver.py", line 318, in deallocate
2015-12-14 15:01:41.482 TRACE neutron.api.v2.resource     ipam_controller.deallocate_ip(ip_addr)
2015-12-14 15:01:41.482 TR

[2015-12-14 16:04] bondar-pavel opened #36 "Parse 'extattrs' field into EA object for all objects"
Currently only Network objects parse 'extattrs' into EA objects from NIOS reply.
Need to introduce global parsing rule for this field to have the same interface across all objects.

[2015-12-15 12:27] bondar-pavel commented on #35
Fixed with commit 05819c3c046195166c7a75dfd47699a5df90e46d

[2015-12-15 12:27] #35 closed

[2015-12-16 01:18] hosunghwang opened #37 "Merge get_network() and network_exists()"
Remove network_exists and just have get_network() but does not throw any exception.
If no network found just return None.

[2015-12-16 03:04] hosunghwang opened #38 "connector.get_object() needs improvment"
When I try to create a network view on a CP member, the objects module first checks if the network view exists.

When you make this call to the CP member, CPM does not proxy the call automatically because it is a GET operation. No proxying on GET.

So the connector needs to detect this case and should perform proxying.

get_object() in connector already has this logic however this does not work cu

[2015-12-16 09:10] bondar-pavel commented on #38
If NIOS replies with redirect message:
Click here if page does not refresh in 10 seconds.
Then we need to use another IP address for connection, i.e. create another connector with redirected IP address.
I don't think just adding _proxy=GM will help to resolve this issue.
However need to verify that on real environment to be sure.

[2015-12-16 09:17] hosunghwang commented on #38
This seeems a new behavior.
Before it returned empty. Now it returns with a redirect message.
We don't have to wait 10 seconds for redirect.
(I am not even sure if connector can do redirect like this.)

Is it _proxy=GM or _proxy_search=GM?
Anyway, using this parameter, the CPM should proxy the request to GM.

[2015-12-16 09:26] bondar-pavel commented on #38
your right _proxy_search=GM is correct option.
Usually if you see redirect message, it does not depend on input, so I guess that adding _proxy_search=GM and sending request again to the same CPM will result in the same error message.
Will try to verify that and post updates on testing result.

[2015-12-16 09:30] hosunghwang commented on #38
My understaning is that _proxy_search=GM should work because CPM will proxy if it sees _proxy_search param. Please verify.
The reason for the rediret is that CPM does not know network view since it belongs to GM authority.
That is how it worked before.

[2015-12-16 09:37] bondar-pavel commented on #38
Do we have QA ticket for that?

[2015-12-16 11:59] bondar-pavel commented on #38
In my scenario I see a different error.

[code]
Scenario:
Use cloud credentials and CPM ip passed  for connector. Search or create network_view via CPM on NIOS version 7.2.4.

[code]

[2015-12-16 12:09] bondar-pavel commented on #38
I used old wapi version in previous example, so that is expected failure in this case.
Tested with wapi_version '2.2' and NIOS 7.2.4 and it works fine.
Second request was sent with _proxy_search=GM flag and was able to create network view.

[code]

[2015-12-16 12:12] bondar-pavel commented on #38
Is the issue you mentioned appeared in NIOS 7.3.0?
Currently I don't have workable 7.3.0 NIOS env with CPM to validate this case.

[2015-12-16 17:49] #37 closed

[2015-12-17 04:01] emosher opened #40 "Readme - docs link is broken"
![infoblox-docs](https://cloud.githubusercontent.com/assets/1850338/11860900/2facc2ba-a448-11e5-86ff-eb19d0581fdd.png)

The link in the readme to documentation shows me the above page.  I'd be happy to submit a PR if you point me to the right link, otherwise I'm going thru the docs folder and readme to see what I can pick up.  Thanks.

[2015-12-17 07:28] bondar-pavel commented on #40
@emosher, thanks for reporting it!
I will work on populating documentation to readthedocs.org.
For now you can start with README, and in the meantime I'll try to improve overall level of documentation.

[2015-12-17 08:37] bondar-pavel commented on #40
Integrated infoblox-client with readthedocs.org.
Now documentation is available http://infoblox-client.readthedocs.org/en/latest/
![image](https://cloud.githubusercontent.com/assets/2071117/11865030/5cac19ae-a4b2-11e5-95d0-271685c7b8ab.png)

[2015-12-17 08:37] #40 closed

[2015-12-17 12:38] emosher commented on #40
@bondar-pavel Awesome, thanks!

[2015-12-17 13:39] bondar-pavel commented on #36
Fixed with 5b813babdad2ebbfea183b75335810d030665377

[2015-12-17 13:39] #36 closed

[2015-12-17 17:17] bondar-pavel opened #41 "Bind_name methods should update existent dns records"
Currently bind_name_with_record_a do not 'record:a' and 'record:ptr' if they already exist.
Need to alter this behavior to be able to modify record name.

[2015-12-18 10:45] hosunghwang opened #43 "_ref attribute error"
I created a dhcp member like this.

        ib_dhcp_members = []
        for m in dhcp_members:
            ib_dhcp_members.append(ib_objects.AnyMember(_struct='dhcpmember',
                                                        name=m.member_name))

Then I call the following to restart dhcp members.

        for ib_member in self.ib_cxt.mapping.ib_dhcp_members:
            self.ib_cxt.ibom.resta

[2015-12-18 10:48] hosunghwang commented on #43
I am currently blocked by this issue because dhcp member assignment requires calling restart_all_services().

[2015-12-18 12:30] hosunghwang opened #44 "A new exception needed when a delegation member or a dhcp member has already been assigned."
When a next available member is sent to NIOS for network creation, the following error message is returned.

{ "Error": "AdmConDataError: None (IBDataConflictError: IB.Data.Conflict:Member 10.39.12.91 is assigned to another network view 'test2')",
  "code": "Client.Ibap.Data.Conflict",
  "text": "Member 10.39.12.91 is assigned to another network view 'test2'"
}
The Response Code:400

The connector

[2015-12-18 12:57] bondar-pavel commented on #43
so you need to use ib_objects.Member for restart_all_services, not AnyMember instance

[2015-12-18 12:59] hosunghwang commented on #43
I changed it to Member as the following but still does not work.

ValueError: ValueErr...ative.',)

for member in self.ib_cxt.mapping.dhcp_members:
    ib_member = ib_objects.Member(self.ib_cxt.connector,
                                  host_name=member.member_name)
    self.ib_cxt.ibom.restart_all_services(ib_member)

[2015-12-18 13:03] bondar-pavel commented on #43
Need some more info about the error

[2015-12-18 13:27] bondar-pavel commented on #43
Using Member worked fine.
Observed error came from Host Record creation,
and was hidden by retry mechanizm:

[code]

[2015-12-18 13:27] #43 closed

[2015-12-18 13:41] #41 closed

[2015-12-18 14:33] #44 closed

[2015-12-21 16:02] bondar-pavel opened #45 "Create method does not update objects correctly if they already exist on NIOS side"
If Object exist on NIOS side some fields are get overriden by NIOS values on fetch stage [1].
Need to limit fetch to populate only NIOS _ref to object in this case.

[1] https://github.com/infobloxopen/infoblox-client/blob/master/infoblox_client/objects.py#L282

[2015-12-21 23:42] hosunghwang opened #46 "Deleting DNS records that are associated with a fixed address"
According to API doc, “ipv4address” search cannot be used by cloud api because this object belongs to Host Record creation.

That is why host record worked but not fixedaddress.

Here is the API test:

curl -k1 -u cloud:cloud -H "content-type:application/json" -w "\nThe Response Code:%{http_code}\n" https://10.40.240.101/wapi/v2.3/ipv4address?ip_address=99.90.93.10
{ "Error": "AdmConProtoError: Op

[2015-12-22 00:17] hosunghwang opened #47 "connector crashes when WAPI returns error messages"
The following line has to change from

if (response and already_assigned in response.text):

to

if (response and already_assigned in response['text']):

since you are reading dictonary object.

[2015-12-22 01:12] hosunghwang opened #48 "create_dns_zone should NOT capture exception and go silent in case of an error"
In object_manager, create_dns_zone() does not return any expcetion so we cannot get exact error message.

Please just throw expection so that we can get the exact error from dns controller.

[2015-12-22 05:36] hosunghwang commented on #38
With the https://review.openstack.org/#/c/259260/, RahavaChari and I tested all the delegation scenario and all worked fine.

I think we can close this issue.

[2015-12-22 09:56] bondar-pavel commented on #46
So the solution is to replace obj.IPAddress.search(...) with search by ipv4addr field in particular objects that are listed in dns_record_removable_types.
Sounds workable, will try to implement this way

[2015-12-22 09:58] bondar-pavel commented on #47
sure, will fix

[2015-12-23 11:10] bondar-pavel opened #52 "Add 'record:txt' nios type into objects"
Currently there is no objects corresponding to NIOS types 'record:cname' and 'record:txt'.
Need to add them into objects.py

[2015-12-23 11:30] bondar-pavel commented on #46
As usual I met some issues on this way.
For 'record:a', 'record:aaaa', 'record:ptr' everything works fine and can be covered with unbind_name_from_record_a.
But 'record:txt' and 'record:cname' do not have ip fields, so it complicates process of searching them. So need to implement method similar to get_object_refs_associated_with_a_record in [1] to search 'record:cname' and 'record:txt' based on

[2015-12-23 14:14] #45 closed

[2015-12-23 14:27] #46 closed

[2015-12-23 14:28] #47 closed

[2015-12-23 14:28] #48 closed

[2015-12-30 20:05] hosunghwang opened #55 "in object_manager, add a new api: count_networks()"
Please add the following API:

def count_networks(self, network_view_name):
        ib_networks = ib_objects.Network.search_all(self.connector,
                                                                                network_view=network_view_name)
        return len(ib_networks)

This is used to determine the last subnet in the current network view which can be used in subnet removal.

[2015-12-30 20:15] hosunghwang opened #56 "Expose ip_version as a public property"
Currently I need to get ip version info by accessing a private variable like below.

self.ib_network._ip_version

Expose it to public so that I can do

self.ib_network.ip_version

[2015-12-30 20:41] hosunghwang opened #57 "object_manager object search() throws InfobloxSearchError error if data is not found"
When I use delete_dns_zone(), I got InfobloxSearchError because dns zone was already removed.
If this is nothing to remove, then it should safely return rather than throwing exception.

Add try except block when object.search() API is used. The following APIs are affected.

delete_network_view
delete_dns_view
get_network
delete_ip_range
delete_network
get_host_record
find_hostname
delete_host_reco

[2015-12-30 20:55] hosunghwang opened #58 "Create a new api "get_network_by_subnet_id" in object_manager"
The following api should return ib network by subnet id and ip_version.
But ip_version is None by default.

def get_network_by_subnet_id(self, subnet_id, ip_version=None):
        ea = ib_objects.EA({'Subnet ID': subnet_id})

[code]

[2016-01-05 02:10] hosunghwang commented on #57
The problem looks like in the connector._get_object() method.
The method raises InfobloxSearchError if request code is not OK.

if r.status_code != requests.codes.ok:
            raise ib_ex.InfobloxSearchError(
                response=jsonutils.loads(r.content),
                obj_type=obj_type,
                content=r.content,
                code=r.status_code)

An object may not exist and

[2016-01-05 08:01] bondar-pavel commented on #55
I don't think we need to add method for that, since we grab all networks for network view and do not actually return them.
Most likely we would like to do something with networks if they are searched (for example delete/update),
so it is better to use ib_objects directly.
count_networks() would add the same inefficency level as network_exist had 52e82f20e1d6244d3d3ff98d92e4a61709d64b68, because if

[2016-01-05 08:01] bondar-pavel commented on #56
will do

[2016-01-05 08:03] bondar-pavel commented on #57
I'll update it to return None instead of exception if object was not found

[2016-01-05 08:04] #38 closed

[2016-01-05 08:22] hosunghwang commented on #55
I am actually using this case in line 342 from https://review.openstack.org/#/c/262633/3/networking_infoblox/neutron/common/ipam.py

ib_networks = ib_objects.Network.search_all(self.ib_cxt.connector,
                                            network_view=network_view)
is_last_subnet_in_netview = len(ib_networks) == 1

It would be nice if I don't have to count networks returned from search_all.
B

[2016-01-05 15:31] bondar-pavel commented on #58
The way how it is implemented now makes this code useful almost only for networking-infoblox,
since only there we have strict mapping between Network and Subnet ID EA.

To make it more useful for other cases I am thiking about doing it in more generic way.
1. One way is to add to object_manager method that allows to search network by any EA:

But still it limit search_by_ea approach for both v4/v6

[2016-01-05 19:46] #56 closed

[2016-01-05 19:47] #57 closed

[2016-01-09 13:27] moranbf opened #62 "Result set too large"
When executing networks = conn.get_object('network')
DEBUG:infoblox_client.connector:Error occured on object search: { "Error": "AdmConProtoError: Result set too large (> 1000)",
  "code": "Client.Ibap.Proto",
  "text": "Result set too large (> 1000)"

The max number can be increased with &_max_results=-500000, but not sure how to pass it tot he url creation.

[2016-01-11 09:40] bondar-pavel commented on #62
@moranbf Thanks for reporting it!
I'll investigate it deeper, but looks like we need some mechanism to load results by chunks.

[2016-01-11 09:55] bondar-pavel commented on #23
List of unused methods in utils.py that should be removed:
- json_to_obj
- get_values_from_records
- db_records_to_obj
- db_records_to_json
- construct_ea
- get_string_or_none
- scalar_from_ea
- get_ip_version
- get_prefix_for_dns_zone
- get_physical_network_meta
- get_list_from_string
- exists_in_sequence
- exists_in_list
- find_one_in_list
- find_in_list

List of used methods:
- is_valid_ip
- ge

[2016-01-13 02:14] hosunghwang opened #63 "Need to change update_network_options not to overwrite the existing EAs."
When the admin created a shared network in NIOS and added custom EAs, creating the shared subnet in Openstack removes the custom EAs because we overwrite the existing ib_network.extattrs with newly generated extattrs as below.

        if extattrs:
            ib_network.extattrs = extattrs

So we need to actually check if EA key exists in the ib_network.extattrs and just update value on the exist

[2016-01-13 05:55] hosunghwang opened #64 "nameservers options should be allowed for ipv6 network"
object_manager.create_network() is not allowing nameservers option for ipv6 network because of the following ipv4 check.

        if ipv4 and nameservers:
            options.append(obj.DhcpOption(name='domain-name-servers',
                                          value=",".join(nameservers)))

Just take out ipv4 in if condition. this should be allowed both ipv4 and ipv6.

[2016-01-13 08:16] hosunghwang opened #65 "Allow strings to be passed for ssl_verify, not just boolean"
ssl_verify accepts a path to ssl cert file so the data type should be string.

[2016-01-13 16:21] #64 closed

[2016-01-13 16:22] #63 closed

[2016-01-14 02:47] hosunghwang opened #68 "host record does not merge different ips for the same host name"
Let's say that {instance_name} is used for host record generation and ip allocation strategy is host record.

I created an instance "vm1" with ip 11.11.1.3.
Then I created another instance "vm1" with ip 11.11.1.4.

I would expect that the existing host record will contain two ips now but it fails with the following error:

2016-01-13 18:36:46.627 ERROR networking_infoblox.neutron.common.notificati

[2016-01-15 01:39] hosunghwang commented on #68
Actually we cannot merge ips to one host record because we lose EAs.
Please do not work on this.

[2016-01-15 01:39] #68 closed

[2016-01-16 08:43] bondar-pavel commented on #65
I have checked Connector code and looks like we do not introduce any limitation on 'ssl_verify' values.
So it should work for infoblox-client.
I'll try to verify this case.

[2016-01-16 09:18] bondar-pavel commented on #65
Ok, verified that passing path to certificate via 'ssl_verify' field actually works with current master.

Had to do some tricks to make it work with QA NIOS setup with self-signed certificate.
Steps I did:
1. Copy certificate to some local directly (I saved it from NIOS Grid UI)
2. In my case certificate was self-signed for host 'www.infoblox.com', but actual server is 10.40.240.113, from local ne

[2016-01-16 11:58] bondar-pavel commented on #65
Actually there is one thing that can be done on infoblox-client side.
'True' and 'False' can be accepted as string and then converted to booleans by infoblox_client.
All other values are passed as is.

[2016-01-16 14:07] bondar-pavel commented on #23
additionally found unused methods:
- merge_list
- remove_any_space

[2016-01-16 14:20] #23 closed

[2016-01-18 12:13] bondar-pavel commented on #62
At this point I am thinking about adding 'max_results' option to search/search_all methods.
It would refer to '_max_results' option in WAPI:

"Maximum number of objects to be returned. If set to a negative number the appliance will return an error when the number of returned objects would exceed the setting. The default is -1000. If this is set to a positive number, the results will be truncated w

[2016-01-18 14:08] bondar-pavel opened #74 "Add 'make docs' to Travis CI"
Currently 'make docs' executed only manually (and rearely).
Now it reports quite a lot of errors/warnings, so need to automate process of cheking and building documentation.

[2016-01-18 14:11] bondar-pavel opened #75 "Fix errors reported by 'make docs'"
Currently 'make docs' reports quite a lot of errors/warning.
Need to fix them all before job for checking documentation can be added to Travis CI.

Build log:

[code]

[2016-01-18 23:26] #65 closed

[2016-01-19 20:38] hosunghwang opened #77 "'start_addr' field is not used to figure out ip version"
get_class_from_args uses the following fields to figure out ip version.

         for field in ['ip', 'cidr', 'start_ip', 'ip_address', 'network']:

However, start_addr is not supported and this file name is used in IPRange.

[2016-01-20 09:28] bondar-pavel opened #79 "Add 'flake8' execution to Travis CI"
Currenly flake8 can be executed locally with 'make lint' command.
But it also has be executed as part of automated tests to keep code clean.

[2016-01-20 09:35] bondar-pavel commented on #55
I would say that using seach_all + len on client side is right way to count networks,
since otherwise we need to introduce pretty inefficient api calls as part of standart interface.
So I am trying to avoid it.
Will close it as wontfix for now, but we can come back to discussion if somebody strictly need it.

[2016-01-20 09:35] #55 closed

[2016-01-20 17:57] #77 closed

[2016-01-21 00:09] hosunghwang opened #83 "ssl_verify field in connector is not used correctly"
The following line has to be included in _parse_options().

          self.ssl_verify = utils.try_value_to_bool(self.ssl_verify, strict_mode=False)

so that other get/update/delete_object method can use the correct value since theose meothds
access self.ssl_verify directly.
 You can add it right before self.wapi_url line.

utils.try_value_to_bool() used in the _configure_session has no use.
You ca

[2016-01-21 07:58] bondar-pavel commented on #83
Actually there is no need to set 'verify flag for both session and request.
Since ssl_verify is configured on connector basis, then it would be enough to set it only for session,
and do not override it on request level.
I have tested solution where verify is set only for session and not changed for request, and it worked correctly.
Preparing fix.

[2016-01-21 08:05] #83 closed

[2016-01-28 06:53] hosunghwang opened #84 "Multivalued String List EA is not supported"
An EA definition allows a string type with multi-valued.
Then it accepts list of string data like

Last Grid Sync Time = ['controller-1': '2016-01-15 23:02:59',  'controller-2': '2016-01-15 23:03:03']

However this is not allowed in ib_objects.EA because all the data is converted to string like this:

Last Grid Sync Time = "['controller-1': '2016-01-15 23:02:59',  'controller-2': '2016-01-15 23:03

[2016-01-28 17:39] #84 closed

[2016-01-29 12:09] bondar-pavel opened #87 "Add mapping ip field into 'ipv4_address', 'ipv6_address' for Member object"
Member object is not expected to have V4 and V6 childs, but it contains ip versioned fields  'ipv4_address', 'ipv6_address'.
Need to all setter for this fields, so they could be accessed by 'ip' alias.
'ip' will map it's values into 'ipv4_address' or 'ipv6_address' depending on ip version detected from value.

[2016-02-02 10:52] bondar-pavel opened #88 "Introduce push/pull(fetch) concept for infoblox-client objects."
Currently two way mechanism for exanging data between infoblox-client object instances and nios objects exists:
- fetch - data stream from nios to local object, reference can be present in object, or object can be searched by search fields in opposite case;
- update - data stream from local object to nios, send fields updates to remote object, requires to have reference set in local object and obj

[2016-02-12 02:09] hosunghwang opened #89 "NetworkView object does not return extattrs"
NetworkView object does not have _return_fields field defined so it does not return 'extattrs'.
This is one of the reasons the agent sync fails when mapping conditional EA is used before sync.

For example, "Tenant ID Mapping" is used on a network view.
When sync extracts NetworkView object, the object does not contain 'extattrs' so "Tenant ID Mapping" EA is missing.
When adding new EAs on the net

[2016-02-12 08:55] #89 closed

[2016-02-12 09:20] bondar-pavel opened #91 "Fields obtained using fetch() method are not converted to objects"
If object is created using search/search_all, then fields are correctly converted to objects.
But if object info is retrieved using fetch(), then fields are shown as dicts (i.e. NIOS reply is not converted).

[2016-02-16 21:45] hosunghwang opened #92 "DNSZone does not have _return_fields as well"
Like NetworkView, DNSZone is missing _return_fields so 'extattrs' is not retrieved.

Try to add it to DNSView as well.

[2016-02-17 08:02] bondar-pavel commented on #92
Will fix it today

[2016-02-17 15:32] #92 closed

[2016-02-18 01:40] hosunghwang opened #94 "Need to support "configure_for_dns" in record.host"
We need to support "configure_for_dns" option for Host record.
The default should be True but we should be able to set this to False to support IPAM Only case.

Host records can be created with Configure for DNS set to False:

From the WAPI guide under the record:host object:

configure_for_dns
      When configure_for_dns is false, the host does not have parent zone information.
Type
      Bool.

[2016-02-18 02:18] hosunghwang commented on #94
I made the following changes in infoblox-client locally and this change seems to work.

objects.py

[code]

object_manager.py

[code]

[2016-02-18 12:11] #94 closed

[2016-02-18 21:37] hosunghwang opened #96 "New class needed for Tenant Object"
There is a ticket field in jira: OPENSTACK-786, regarding “Tenant Name” support under Cloud->Tenants tab in NIOS GUI.

In order to populate this we need to call a new api:

https://10.39.12.179/wapidoc/objects/grid.cloudapi.tenant.html?highlight=tenant%20name#grid:cloudapi:tenant.name

It seems that the way to update the Tenant Name is to do a put to the Tenant object.

E.g.

curl -k -u cloud:info

[2016-02-19 13:08] bondar-pavel commented on #62
@moranbf: Hi! prepared fix for that, now it is pull requested.
So you will be able to change default output limit by:
[code]

This option was also added to object model, so you can get all networks with:
[code]

[2016-02-19 17:42] #62 closed

[2016-02-19 17:57] #96 closed

[2016-02-25 18:16] hosunghwang opened #101 "max_results needs to be used in object_manager"
"max_results" parameter needs to be used in object_manager where search and search_all APIs are used. Many methods use that.

[2016-02-25 18:24] hosunghwang commented on #101
After looking at the change, I don't think we need to use "max_results" paremeter in objects.py and object_manager.py.

"max_results" should be set as options for connector like 'http_pool_connections'.
Then connector::get_object() will read this option and use it.

This will minimize the change and easier to use since no need to pass this value to various search methods.

[2016-02-26 17:26] #101 closed

[2016-03-03 07:32] hosunghwang opened #103 "_max_results issue"
When _max_results is used with other parameters using '&', the WAPI call does not return and it gets timed out.

To simulate this from CURL, the following has the same effect.

curl -H "Content-Type: application/json" -k1 -u cloud:cloud -X GET https://10.39.12.170/wapi/v2.3/networkview?_return_fields=name,is_default,extattrs&_max_results=-10

This is because '&' is used as background process in co

[2016-03-03 09:32] bondar-pavel commented on #103
infoblox-client uses requests python library, so these shell escaping issues should not apply to it. I made some debugging in python console to reproduce this issue exists. My test results shows that this issue doesn't apply to infoblox-client.

Here is the output from my console with maximum debug.
Only one network exists on this Grid, so testing with 'max_results=-2':

INFO:infoblox_client.conne

[2016-03-03 09:33] #103 closed

[2016-03-03 14:58] johnbelamaric opened #104 "Expose max_retries option"
The Requests module supports a "max_retries" option:

http://docs.python-requests.org/en/master/api/#requests.adapters.HTTPAdapter

We should expose that for users of the connector. Note that it can be an integer or a Retry object, so we should support that too.

See also

https://community.infoblox.com/t5/API-Integration/Infoblox-python-API-help/m-p/5725#M482

[2016-03-03 15:12] bondar-pavel commented on #104
John, thanks for reporting it.
I'll investigate deeper with it today.

What is the priority for this issue?

[2016-03-03 15:14] bondar-pavel commented on #104
Actually this one looks easy to do, so probably I'll prepare pull request for it today.

[2016-03-03 15:16] johnbelamaric commented on #104
Low - unless we see the request timeout not fixing the issue on the community forum.

I have used the retry before in the Heat code (which doesn't use this lib yet). For me it was an issue because I was running everything on Fusion on my laptop so there were some timeouts. The retry made it all work smoothly.

[2016-03-03 16:10] bondar-pavel commented on #104
I have tested it locally and it worked well.

To emulate connection timeout I turned off vpn, so 10.40.240.113 become unreachable.
After it execute 'objects.Network.search_all(conn)' to make sure first requests can not reach Grid. After 5-10 seconds I bring vpn up and  results were successfully returned.

Here is console log with max debug:

INFO:infoblox_client.connector:Sending get request to ht

[2016-03-03 17:23] #104 closed

[2016-03-04 07:10] hosunghwang opened #107 "Improvement Needed for "Result set too large" Error"
In QA environment, QA set 'debug=false' in neutron.conf and did not see any error on "Result set too large" from the agent log.

In production, users may turn off debug logs as well.

Please change the following debug statement to LOG.error so that the agent log shows up this error.

LOG.debug("Error occured on object search: %s", r.content)

No need to throw an exception for this. Just error log

[2016-03-04 19:57] #107 closed

[2016-03-08 10:29] thermobob opened #109 "Use http instead of https in the connector"
Hi, Is this possible to create a method which will change from the default https connection to a http one?
I know that it is a security risk to run over plain http but it would be a nice feature to be able to change it and run over http. You can leave the default as https and introduce the possibility to change to http.
Best regards,
Bogdan

[2016-03-08 13:45] johnbelamaric commented on #109
I don't think the DDI appliances support HTTP, only HTTPS.

[2016-03-08 13:58] thermobob commented on #109
I see, thank you for your answer.
/Bogdan

[2016-03-08 13:59] #109 closed

[2016-03-10 13:49] arnaudcoquelet opened #110 "How to use fields not defined in objects.py"
Is there a generic way to set/fetch a field that is not defined in _fields or _search_fields  ?

For instance, if I want to create a FixedAddress with `ignore_dhcp_option_list_request` set to **True**, the only way was to add that field to the `_fields` under  `class FixedAddressV4(FixedAddress):`

Is there a more generic way to do that ?

[2016-03-11 07:55] hosunghwang opened #111 "'ipv4addr' field needed for dhcpmember in creating network for old NIOS"
In older NIOS like 6.11.7 (WAPI version 1.6), 'dhcpmember' requires 'ipv4addr' field.

Here is how this is implemented in older IPAM driver.

create_network in object manager:

        members_struct = []
        for member in members:
            members_struct.append({'ipv4addr': member.ip,
                                   '_struct': 'dhcpmember'})
        network_data['members'] = members_str

[2016-03-11 14:54] jobec opened #112 "Search for partial match is undocumented"
It's unclear how to search for partial matches.

After some struggling I found out you can do a partial match with the low level API like so:

    conn = connector.Connector(opts)
    nw = conn.get_object('network', {'network~': '10.10.'})

But how to 'seach' this way with the high level seach function? I couldn't figure out a way to do so.

[2016-03-14 14:58] seisen opened #113 "import infoblox_client.objects : SyntaxError"
test code
`from infoblox_client import objects`

python 2.7.5 : OK

python 2.6.6 : KO
[code]

[2016-03-16 20:18] hosunghwang opened #114 "Support ipv4address/ipv6address"
Using ipv4address/ipv6address objects is a convenient way to check if any object that related to ip address exists.

In the old driver, we used this call for get_all_associated_objects.
This is a better way to search if an IP address exists or not regardless IP type such as host record vs fixed address. Also, this gives all the dependent objects.

Currently, I am using this call to search for a dh

[2016-03-23 14:14] bondar-pavel commented on #111
Current infoblox-client design expects members to be created as AnyMember class and passed to create_network. So members are prepared in this case outside infoblox-client.
AnyMember already has all need fields:
[code]

I'll update create_network docstring to clearly express expected input.

[2016-03-23 14:40] bondar-pavel commented on #110
@arnaudcoquelet Currently to set/get some field for object it has to be defined in  ```_fields```. For now there is no other way except adding new fields to ```_fields```.

The goal is to have all fields defined in wapidoc for each object to be represented in ```_fields``` in infoblox-client. But adding all the fields for all the objects from wapidoc will take a while. Some fields have complex sub

[2016-03-23 14:45] johnbelamaric commented on #110
I believe that in recent versions there is a machine-readable schema available for WAPI, which may allow you to generate some of this automatically.

[2016-03-23 14:47] bondar-pavel commented on #112
@jobec Hi, currently partial match search is not supported for high level API. And thanks for bringing that up. I need to think a bit about how to organically add partial match search for high level API.

Will keep you posted about the progress.

[2016-03-23 14:59] bondar-pavel commented on #110
@johnbelamaric thanks! I will take a look at it.

[2016-03-23 15:19] jobec commented on #112
@bondar-pavel  this partial matching is also sort of undocumented for the low level API.
It's logical that is works, but it took me a while to make the link between the python client and the fact that it send the paramters as-is instead of treating it like a field.

[2016-03-23 15:50] bondar-pavel commented on #111
mentioned docstring update https://github.com/infobloxopen/infoblox-client/pull/115

[2016-03-23 16:08] rcorrieri opened #116 "Trying to search using regular expresssions"
Hello Everyone.!
I am trying to execute a search of any of the supported objects using regular expressions.
Because some internal audit we need to address at my Company from time to time, it would be very useful for us to be able to query the Infoblox looking for records matching a regular expression.
So I may get more than one individual result.
As far as I can see, the search() and search_all()

[2016-03-23 16:57] bondar-pavel commented on #116
Hi @rcorrieri!
This is similar to #112. There is no high level API for that, but for low-level case you can use next approach:

[code]

So for host record case it will look like:
[code]
This should find all host records in 10.10.0.0/16 network.
It is not the most effective way to search host records that belongs to network, used here just as example.

Check out wapi documentation to find out which

[2016-03-23 17:33] rcorrieri commented on #116
Hello Pavel, and thanks for your reply...!

Yes, while digging into the pending issues to be fixed in your repo, I
found your reply to this same question.

And it's ok, I am already re-coding my module to use it.

Thanks so much again...!

Ricardo Corrieri

On Wed, Mar 23, 2016 at 11:57 AM, Pavel Bondar <notifications@github.com>
wrote:

[2016-03-23 17:36] rcorrieri commented on #116
One more question.

How do you manage to restrict the amount of objects to be retrieved...?

Some field to add to my query like:

max_results = 3000

I am looking for all PTR records where their 'name' field matches a
specific pattern.

And Infoblox is telling me I am asking for more than 1000 records, so it
returns nothing.

Thanks.

On Wed, Mar 23, 2016 at 12:33 PM, Ricardo Corrieri <
ricardo.da

[2016-03-23 17:41] rcorrieri commented on #116
Nevermind, I've been too lazy, sorry about that.

This parameter is defined in the get_object() method.

Thanks.

Ricardo Corrieri

On Wed, Mar 23, 2016 at 12:35 PM, Ricardo Corrieri <
ricardo.daniel.corrieri@gmail.com> wrote:

[2016-03-24 08:39] bondar-pavel commented on #116
Looks like resolved, so closing this issue.

[2016-03-24 08:39] #116 closed

[2016-03-24 16:48] rcorrieri commented on #116
Yes, thanks so much.!

On Thu, Mar 24, 2016 at 3:39 AM, Pavel Bondar <notifications@github.com>
wrote:

[2016-03-28 09:04] bondar-pavel opened #118 "Add default fields for Member"
With return_fields specified as '[]' NIOS replies with next fields for 'member' object:
{u'platform': u'VNIOS', u'_ref': u'member/b25lLnZpcnR1YWxfbm9kZSQw:infoblox.localdomain', u'config_addr_type': u'BOTH', u'host_name': u'infoblox.localdomain', u'service_type_configuration': u'ALL_V4'}

Need to support these fields.

[2016-03-28 11:35] bondar-pavel commented on #113
@seisen I tried to add support of python 2.6, but it's hardly possible.
Fixing syntax error for 'for field in self._fields + self._shadow_fields' is easy, but the bigger issue is that  modules oslo_config and oslo_log are not py26 compatible. And infoblox-client depend on them.
So with python 2.6 import will fail even after py26 syntax error is fixed.

[code]

So python 2.6 is not supported for in

[2016-03-28 11:36] #113 closed

[2016-03-28 11:49] #118 closed

[2016-03-28 14:57] bondar-pavel commented on #111
Issue is fixed on networking-infoblox side:
https://review.openstack.org/#/c/297185/

[2016-03-28 14:57] #111 closed

[2016-03-28 18:09] rcorrieri opened #122 "Question about binary distribution build"
After to replace my former Infoblox API by this current one, I need to take care of the installation of python-dev and gcc compiler in the target hosts. I did not need this steps before.
I've been checking your source code, but it seems to be pure Python.
So I am not sure why I do need to include these packages in my original distribution now, when building my tarball.
Any pointers will be appreci

[2016-03-28 18:32] bondar-pavel commented on #122
@rcorrieri Hi!
infoblox-client itself is pure python package.
Looks like one of it's dependencies causes this effect:
https://github.com/infobloxopen/infoblox-client/blob/master/requirements.txt

And my guess is that 'requests' is the one that require compiling binaries.
https://pypi.python.org/pypi/requests#downloads

[2016-03-28 20:16] rcorrieri commented on #122
Great, thanks so much for the fast response.!

I will keep checking.

You can close this issue, then.

Best,

Ricardo Corrieri

On Mon, Mar 28, 2016 at 1:32 PM, Pavel Bondar <notifications@github.com>
wrote:

[2016-03-29 08:34] #122 closed

[2016-05-11 17:13] bondar-pavel commented on #112
Adding examples of search by regular expression into README.rst #124

[2016-05-11 23:52] hosunghwang commented on #88
fetch and pull look the same.
I don't see the difference.

update and push have a difference but it can be merged into just one.
if a reference is set, use that reference to update; if a reference does not exist, then create a new NIOS object.

Rather than introducing a similar method, it would be better to extend 'update' to handle both cases or have a 'create' method clearly in the intent of cre

[2016-06-06 20:36] hosunghwang opened #125 "create_required_ea_definitions does not throw exception"
QA created a test case where an EA def creation would fail when testing OPENSTACK-839.

See the trace from OPENSTACK-839

Since an exception is not thrown, no way to detect an error.
Also missing_ea_defs still returns with the EA that has been failed to create.

[2016-06-08 15:18] bondar-pavel commented on #112
Closing the issue, since examples were added into README.rst

[2016-06-08 15:18] #112 closed

[2016-06-08 16:01] bondar-pavel commented on #125
Adding optional parameter for create_ea_definition and create_required_ea_definitions  to reraise error in case of failure.

[2016-06-10 18:30] #125 closed

[2016-06-13 10:56] #79 closed

[2016-11-08 00:19] akuzminsky opened #137 "SRV records"
Can I create/modify/delete an SRV record?

[2016-11-08 16:41] yuewko commented on #137
infoblox-client currently does not support SRV record. But, that's only because we haven't yet had a need for it. Adding it should be straightforward. Do you have any specific use case in mind?

BTW, code contribution is always welcome ;-)

[2016-11-08 23:04] akuzminsky commented on #137
We need it to bootstap an etcd cluster(https://coreos.com/etcd/docs/latest/clustering.html#dns-discovery) . if i implement it i'll send a PR. :)

[2016-11-08 23:38] yuewko commented on #137
Interesting - we are looking at similar use cases too.
If you need anything from us, please do not hesitate to ping us.

[2016-11-09 20:24] #137 closed

[2017-01-13 19:53] Zamboughnuts opened #145 "Question about IPAllocation class"
Is there a way to pull an IP address as a string from the objects.IPAllocation.next_available_ip_from_cidr?

Here's what I'm talking about... The code:
`opts = {'host': 'hostname', 'username': 'api_user', 'password': 'password', 'wapi_version': '2.2.2'}
conn = connector.Connector(opts)
network_view = conn.get_object('networkview')

next_IP = obj.IPAllocation.next_available_ip_from_cidr(network_vie

[2017-01-13 20:18] yuewko commented on #145
Hi,

   If the intention is to allocate the next available IP from Infoblox, then the call to use would be InfobloxObjectManager.create_fixed_address_from_cidr(). This will return an object that contains the allocated IP.

   The purpose of the method obj.IPAllocation.next_available_ip_from_cidr() is to create an object that is used to query Infoblox. In fact, it is used by InfobloxObjectManager.c

[2017-01-13 20:31] Zamboughnuts commented on #145
So it isn't meant to be human-readable then?

I can understand the purpose being to make a query string that can create a new IP address, but my use case is slightly different - That is, I'm writing a script to generate configuration files that can be pasted into a CLI interface. I still have use for creating the host, obviously, but I also need to be able to get whatever IP that is in plain text

[2017-01-14 02:48] yuewko commented on #145
The following is the create_fixed_address_from_cidr() method I mentioned earlier:
[code]
As you can see, it first calls next_available_from_cidr() which returns an object that represents a query for the next available IP. That query need to be sent to Infoblox via the FixedAddress.create() that follows (passed as the parameter, ip), which tells Infoblox to allocate the next available IP.

The obje

[2017-01-16 21:43] Zamboughnuts commented on #145
Thank you. I have one other problem that came up while using this, and I cannot for the life of me figure out what the issue is. It seems that when I try to call the "create_fixed_address_from_cidr" function, I'm unable to find the network, despite having a valid network view:

`infoblox_client.exceptions.InfobloxCannotCreateObject: Cannot create 'fixedaddress' object(s): { "Error": "AdmConDataNot

[2017-01-16 21:54] yuewko commented on #145
When you call create_fixed_address_from_cidr(), the 'netview' parameter should be a string which is the name of the Infoblox network view where the network resides. In your case, based on your last comment, should be something like 'default'.

Hope this helps.

[2017-01-17 16:43] Zamboughnuts commented on #145
Thank you for all the help, again. As it turns out, the WAPI 2.2.2 doesn't support the "next available IP from range" command the same way that the WAPI did when this code was written. As a workaround, I added a "create_host_record_from_cidr" function to object_manager.py.

Now, to still select a range, it is entirely possible to do, but the API expects a "exclude" command as found here:

https://

[2017-01-18 08:28] seisen opened #146 "HostRecord do not support TTL"

[2017-01-20 14:49] Zamboughnuts opened #149 "Include the ability to pass an "exclude" param on to infoblox for get_next_available_ip"
In our organization, we reserve the first 10 IP addresses in any large subnet. Unfortunately, the "func:getnextavailableip" command doesn't support this; it expects either CIDR notation, or a specified DHCP range, and it has to match.

I know there's a "long form" version of the POST request that is able to have an "excluded addresses" option. I've successfully used this in another python-based in

[2017-01-20 16:34] yuewko commented on #149
As a workaround, you could use,
[code]
to specify the range of IP from which to allocate the IP.
Would that work?

[2017-02-06 17:01] johnbelamaric commented on #146
Closed via #147

[2017-02-06 17:01] #146 closed

[2017-02-28 23:25] brandune opened #150 "Release bump"
I was hoping to have the release version for this package bumped so the last few PRs are available via a standard pypi install. It looks like all previous version bumps were committed by maintainers so I assumed opening an issue was better than a PR, but I could submit one if that makes things easier.

Thank you!

[2017-02-28 23:41] johnbelamaric commented on #150
A PR would be great, thanks.

[2017-02-28 23:41] #150 closed

[2017-03-23 09:49] jobec opened #152 "Impossible to search multi value extensible attributes"
We're applying tags to some of our networks in DDI. For this we created a new extensible attribute which allows multiple values. But, searching for them is not possible via ``infoblox-client``.

Example:
This works: https://infoblox-ddi/wapi/v2.3.1/network?*tags=sometag&*tags=anothertag&_return_fields%2B=extattrs

But ``infoblox-client`` turns it into:
https://infoblox-ddi/wapi/v2.3.1/network?*tag

[2017-03-23 18:42] #152 closed

[2017-03-29 21:31] ku0100 opened #154 "Verification Issue"
I am getting authorization issues when trying to login:

Traceback (most recent call last):
...
File "my\install\directory.py", line 162, in _validate_authorized
   raise ib_ex.InfobloxBadWAPICredential(response='')
infoblox_client.exceptions.InfobloxBadWAPICredential: Infoblox IPAM is misconfigured: infoblox_username and infoblox_password are incorrect.

Here is where I am stumped, first, I thoug

[2017-03-29 22:27] yuewko commented on #154
Would you  mind providing a copy of the code that is causing the exception? Please also provide any relevant screen output/log messages.

We'll look into it.

[2017-03-29 23:17] ku0100 commented on #154
Right now, I'm just testing the connection. Code is as follows:

C:\...\site-packages\requests\packages\urllib3\connectionpool.py:852: InsecureRequestWar
ning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.
readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

Traceback (most recent call last):
  Fil

[2017-03-30 13:48] yuewko commented on #154
Could you please run the following command? This is effectively what the above code does...

`curl -k1 -u my_username:my_password -X GET "https://ip_of_our_NIOS/wapi/v1.4/record:host?ipv4addr~=some_test_ip"`

[2017-03-30 14:03] ku0100 commented on #154
I am getting a syntax error at the username:password part. Using python 3.6 thru powershell.

[2017-03-30 14:06] yuewko commented on #154
If your username/password has any special characters, you would have to quote it appropriately. I suspect that it's the same for the python code. You might have to quote it as a raw string.

[2017-03-30 14:09] ku0100 commented on #154
Yes I tried that originally and then I just tried without the quotes, still no dice. I also tried it on my Macbook and it gave me the same error as well.

[2017-03-30 14:36] yuewko commented on #154
In the python code, have you tried this?...

`opts = {'host': 'ip_of_our_NIOS', 'username': r"my_username", 'password': r"my_password"}`

If that still doesn't work, would it be possible to setup a NIOS account with very simple username/password and try with that?

[2017-03-30 15:03] ku0100 commented on #154
Ok so now I'm getting the following tracebacks which are different than the original:

Traceback (most recent call last):

  File "C:\...\site-packages\infoblox_client\connector.py", line 192, in _parse_repl
    return jsonutils.loads(request.content)
  File "C:\...\site-packages\oslo_serialization\jsonutils.py", line 241, in loads
    return json.loads(encodeutils.safe_decode(s, encoding), **kwar

[2017-03-30 15:18] ku0100 commented on #154
Ok tried that and this is the new output!

Traceback (most recent call last):
  File "C:\...\lib\site-packages\requests\packages\urllib3\connection.py", line 141, in _new_conn
    (self.host, self.port), self.timeout, **extra_kw)
  File "C:\...\lib\site-packages\requests\packages\urllib3\util\connection.py", line 60, in create_connection for res in socket.getaddrinfo(host, port, family, socket.SOC

[2017-03-30 15:32] yuewko commented on #154
As I suggested earlier, would you be able to setup an account with simple username/password?

[2017-03-30 15:48] ku0100 commented on #154
Unfortunately I can't create a simple account for security reasons

Do I need to be an admin to be able to communicate with infoblox through python? I have read-write access as part of my job responsibilities but I am not an administrator for our account.

[2017-03-30 15:54] yuewko commented on #154
No, you don't need to be admin to use the python client. You should be able to use the same credential to perform the same task that you can do via the GUI.

I tried using all sorts of special characters in the password, and I could not reproduce the exception that you last reported.

If possible, maybe you can changed the password to eliminate a special character one at a time?

[2017-03-30 16:27] johnbelamaric commented on #154
The original exception had a certificate validation error. If you are using a self-signed certificate then you need to allow insecure, or include the cert in the request.

---
John Belamaric
(240) 383-6963

On Mar 30, 2017, at 3:55 PM, Yue Ko <notifications@github.com<mailto:notifications@github.com>> wrote:

No, you don't need to be admin to use the python client. You should be able to use the sa

[2017-04-12 10:33] lingfish opened #155 "Comments on records?"
Forgive the simple question, but I cannot work out how to set comments on a HostRecord.

Nor can I see them when searching.

eg:

`host = objects.HostRecord.create(conn, name='testings.some.domain', view='Internal', ip=my_ip, comment='Created by ZZZ')`

Doesn't set the comment in the web interface, and similarly when using `.search`, even with `return_fields`, yields nothing.

[2017-04-12 12:55] yuewko commented on #155
In order to use the "comment" field, it need to be added to the `_fields` class attribute. For example, in your case:

[code]
Please give that a try.

Thanks!

[2017-04-12 17:31] Durgaprasadala opened #156 "Unknown argument: _proxy_search=GM"
Getting the error

ERROR:infoblox_client.connector:Error occurred on object search: { "Error": "AdmConProtoError: Unknown argument: _proxy_search=GM",
  "code": "Client.Ibap.Proto",
  "text": "Unknown argument: _proxy_search=GM"
}

And the same code is working fine on the test Infoblox server.

How do I set the proxy_search to LOCAL ?

[2017-04-12 18:40] Durgaprasadala commented on #156
Never mind, it was the privileges issue, bumped up the perms and it worked.

[2017-04-13 02:45] lingfish commented on #155
Works great, thanks.  Will you update the repo?

[2017-04-13 04:00] yuewko commented on #156
@Durgaprasadala - thanks for the update!! Glad to hear it is working now.

[2017-04-13 04:02] yuewko commented on #155
Glad to hear it worked!

Fancy submitting a Pull Request? ;-)

[2017-04-13 06:15] lingfish commented on #155
I would, and not trying to avoid it, but shouldn't this change be done to multiple record objects, and hence you'd be better positioned to do that, knowing your code better?

[2017-04-13 12:24] yuewko commented on #155
Understood.

Please feel free to submit a PR (linking it to this issue) with the changes you need, and we'll pick it up from there.

[2017-04-13 17:44] Durgaprasadala opened #157 "How do I get the available IP ??"
I have this requirement to check if the last octet is .1/.2/.3/.4 of the CIDR and objects.IPAllocation.next_available_ip_from_cidr is not returning the IP.

How do I get the next available IP without allocating from API call like below
self.baseURL + 'network/%s?_function=next_available_ip' % network_ref_id

[2017-04-13 18:31] yuewko commented on #157
So, the above doesn't work? Could you please attach the code and indicate what result you are getting?

Thanks!

[2017-04-13 18:40] Durgaprasadala commented on #157
DEBUG:requests.packages.urllib3.util.retry:Converted retries value: 3 -> Retry(total=3, connect=None, read=None, redirect=None)
IPv4: configure_for_dhcp="False", ip="func:nextavailableip:10.65.11.0/26,default", mac="28:92:4a:34:70:68", ipv4addr="func:nextavailableip:10.65.11.0/26,default"
func:nextavailableip:10.65.11.0/26,default

[2017-04-13 18:42] Durgaprasadala commented on #157
ip = objects.IPAllocation.next_available_ip_from_cidr('default', cidr)

I want to get the available IP and getting the string "func:nextavailableip:10.65.11.0/26,default" is not helping

[2017-04-13 18:50] yuewko commented on #157
Oh, I see....
You should be using the methods in object_manager.py, e.g. create_fixed_address_from_range().

(The IPAllocation method you're using are lower level methods used by object_manager.py)

[2017-04-13 20:23] Durgaprasadala commented on #157
That doesn't work :(
Let me rephrase.

Can I get the next available IP without creating the record(host or A) from the given CIDR.
I would like to take action as per the available IP address( by checking the last octet and decide whether to make it fixed adress or create host record.

Currently, I have to create the host record which will provide the IP address after creating it, then take action

[2017-04-13 20:31] yuewko commented on #157
If you use create_**fixed_address**_from_cidr(), then only an IP will be allocated without creating any Host or A record.

Unless I'm still missing something...

[2017-04-13 20:53] Durgaprasadala commented on #157
Thanks a lot for helping me.

I am using that logic but, it takes a lot of code to achieve that.

1> Create the fixed address with mac=X
2>if the output IP address last octet  is .1/.2/.3/.4 , I cannot leave the fixed address and move to the next available IP as the MAC conflicts.
3>need to write a lot of code(4 times more) to achieve this as mac address conflict issue is there.

Is there any way

[2017-04-13 20:59] yuewko commented on #157
You can provide `"00:00:00:00:00:00"` as the MAC address. Please give that a try.

[2017-04-13 21:03] yuewko commented on #157
BTW, is it your goal to skip .1 to .4 when allocating IP? If that's the case, you can use create_fixed_address_from_range(), which lets you to specify the range.

[2017-04-13 21:20] Durgaprasadala commented on #157
For some reason create_fixed_address_from_range() is not going to work properly for me as the records are scattered.

I am almost there with the solution. need a little bit help.

1>Create the fixed address with MAC='00:00..' , that reserved the IP.
2>Now I am trying to create the host-record on top of reserved IP I just got.
infoblox_client.exceptions.InfobloxCannotCreateObject: Cannot create 're

[2017-04-13 21:23] Durgaprasadala commented on #157
I tried create_host_record_from_range , I can provide the first_ip starting from .5 and can I provide the wild card for last_ip ???

It is not working for me .

[2017-04-13 21:34] Durgaprasadala commented on #157
This is what I am doing it right now, How to optimize it ?

0>Create the fixed IP with MAC="00:00.."  ,reserved the IP
Check if IP matches .1 or .2 or .3 or .4

1> If it matches : --->   do step 0>

2>If it doesn't match: ---> delete the fixed and create the host record.

Not happy with the solution, but live with it.

the last resort is :::: I will make a direct api call to get the next available

[2017-04-14 04:46] lingfish commented on #155
Sure, will do.

Looking at it, basically any object in IB has comments I believe.  So, wouldn't it make sense to use a class attribute, near or at `BaseObject` or `InfobloxObject`?

[2017-04-14 15:47] yuewko commented on #155
I agree with your observation. I also think your proposed change is a good idea, but is more involved than I was anticipating.

In any case, please feel free to submit changes as you see fit. We'll definitely review and consider them.

Thanks again!

[2017-04-15 03:55] lingfish commented on #110
From https://community.infoblox.com/t5/Security/Is-there-a-WADL-available/td-p/541

[2017-04-16 06:32] lingfish commented on #155
So I thought about doing a simple list of "common" fields, and then just using extend() to override per-class, eg: https://github.com/lingfish/infoblox-client/commit/c13ac7f036d62f3f508d22bd60744456260bf150?diff=unified

But no dice.  You're doing some voodoo in BaseObject that I don't 100% get, and I'm getting this:

[code]

[2017-04-27 13:42] maxadamo commented on #52
There is CNAME. Maybe it was added after you wrote this issue.
TXT is really missing :(

[2017-04-27 14:21] bondar-pavel commented on #52
@maxadamo yep, only 'record:txt' is left to add, will update ticket description

[2017-06-22 07:56] jobec opened #164 "Not possible to pass delete arguments when deleting an object"
The `networkcontainer` object has a delete argument `remove_subnets` that determines whether all child objects should be removed alongside with the network container or child objects should be assigned to another parental container.

At the moment it's not possible to pass this parameter with this package.

[2017-07-24 18:57] hawthorn opened #169 "Search DHCP Network range via IP in that range"
In perl, we are able to search a range for "Contains" - this returns a Network object with all attributes.
What (if any object) can I use that is similar to this functionality?

[code]

[2017-07-24 19:04] hawthorn commented on #169
i = infoblox.Infoblox('gird', 'user','pw','1.6','internal','default')
net_addr = i.get_network_by_ip(FINDIP)
network = i.get_network(net_addr)
net_attr = i.get_network_extattrs(network)

I guess I just needed to type up the issue ....

[2017-08-09 15:11] johnbelamaric commented on #164
#165

[2017-08-09 15:11] #164 closed

[2017-09-14 11:53] ku0100 opened #171 "Entering multiple A records for same IP"
I was asked to open an issue here (coming from Infoblox community forums). Brief overview:

I'm messing around with the Python Infoblox API and having difficulty getting a records with the same IP address but different domain names to push to the database.

For instance:

1.1.1.1 test.com
1.1.1.1 test2.com

currently, only the first entry will be entered into the database. Is there any way to forc

[2017-09-14 12:47] yuewko commented on #171
It happens to me all the time.... it's a typo:

`newRecord = objects.ARecordBase.create(conn, check_if_exits=False, ip=ips[y], name=names[y])`

The second argument should be `check_if_exists=False`

Please give it another shot, and do not hesitate to let us know if you need anything additional.

[2017-09-14 12:51] ku0100 commented on #171
That worked, i guess PEBKAC haha.  THANK YOU!!!!!!!!!!!!

[2017-09-14 12:51] #171 closed

[2017-09-21 13:47] ku0100 opened #172 "Issue querying PTR records"
I am having difficulty being able to successfully query ptr records that exist. I have a test lab appliance that I am messing with. I have created a zone called test.com as well as another zone, 1.1.in-addr.arpa for reverse-mapping. I created two host records in the test.com zone:

1. test1.test.com - 1.1.1.1
2. test2.test.com - 1.1.1.2

When I go to the 1.1.in-addr.arpa zone on the Infoblox GUI,

[2017-10-10 14:27] briantsaunders opened #173 "Find Network Based Upon Host Record or IP Address"
If I only know the fqdn of a device or the ip address is it possible to determine the parent network in which it resides?  The only method I've found is to take the ip address and split it and then remove the 4th or 3rd octet and then perform a regex search of all networks that match and then perform additional searches on those matches until I find a match on the original ip address or fqdn.

[2017-10-27 06:40] alekgrom commented on #157
How is it possible using this library to get next available IP excluding a certain list of IP addresses?
According to documentation to POST body should be added **exclude** variable.
[code]

[2017-11-28 16:36] ku0100 opened #179 "fingerprint query"
Is there a record type for fingerprints? I am trying to query them and not having much luck. Thanks!

[2017-11-28 19:42] #179 closed

[2017-12-04 16:49] ku0100 commented on #154
Hey @johnbelamaric, how would I go about doing this (allow insecure/include cert in request)? I don't see cert as an attribute in the Connector object. I am still having this issue and I have verified my login works when I go directly the NIOS. Thank you!

[2017-12-12 10:47] pjewiec opened #180 "Updating CNAME record"
Hi,

I'm trying to update a canonical name in a CNAME record. Unfortunately I can't find any information about that. I tried using
`ar = objects.CNAMERecord.search(conn, name=raddr)`
`old_canonical = ar.canonical`
`new_canonical = unicode(rhost, "utf-8")`
`ar.canonical.replace(old_canonical, new_canonical)`
`ar.update()`

but canonical is not being updated. What am I doing wrong?

[2017-12-15 16:46] bandit145 opened #181 "HostRecord.create with "update_if_exists=True" throws "record already exists""
I'm hitting an issue while trying to update an already created host record in infoblox (wapi version 1.7.1),
if I try to update the IP address of the host record I get "record already exists". If I attempt to update other attributes that works fine.

I noticed this issue https://github.com/infobloxopen/infoblox-client/issues/68 , which seems similar except that it's for merging ip addresses.

Than

[2017-12-20 15:04] pjewiec-priv commented on #180
NVM, i just did it with:
`ar.canonical = new_canonical`
`ar.update()`

[2018-01-24 02:39] itdependsnetworks opened #182 "Added Search Fields"
Would you accept a PR to add the ability to search on comment and extattrs?

[2018-02-09 21:23] jasonkeller commented on #173
@briantsaunders yes you can do this in the WAPI...

`ipv4address?ip_address=10.128.128.128&_return_fields=network&_return_type=json-pretty
`

Would be the branch you are looking for, returns...

[code]

In this construct, you would...

`infoblox.get_object('ipv4address', {'ip_address' : 'your ip address'})`

And when you get the results, simply reference the "network" key in that dictionary.

[2018-02-22 08:48] jobec opened #186 "when paging is enabled, get_object() with an object reference returns an error"
Example code:

[code]
This triggers an error log like this:
[code]

[2018-04-30 11:56] #182 closed

[2018-06-12 13:00] markeganfuller opened #193 "No TTL on A or CNAME records"
TTL can neither be queried nor set on A or CNAME records.

* If a A or CNAME is created with a TTL, the record is created but the TTL is not set.
* If a record with a TTL set is queried, there is no way to access this value.

e.g.

[code]

[code]

[2018-06-12 13:02] markeganfuller opened #194 "No Comments on A and CNAME Records"
Comments can neither be queried nor set on A or CNAME records.

* If a A or CNAME is created with a comment, the record is created but the comment is not set.
* If a record with a comment set is queried, there is no way to access this value.

e.g.

[code]
[code]

[2018-06-12 13:10] markeganfuller opened #195 "Queried PTR Records don't have an IP"
Whilst creation of a PTR with an IP works:

[code]

When querying an PTR record there is no IP:
[code]

[2018-06-12 13:15] markeganfuller commented on #195
Note, a workaround for this is to parse the IP out of the ref:

[code]

[2018-06-13 08:56] markeganfuller commented on #194
That doesn't seem to work:
[code]

[2018-06-13 10:47] markeganfuller opened #196 "CNAME records can not be searched by `canonical`"
CNAME records cannot be searched by `canonical`, all CNAME records are returned instead.

[code]

[2018-06-13 13:43] markeganfuller opened #197 "Updating IP address on A Records has no effect"
Updating IP address on A Records has no effect, e.g.

[code]

Also tested with:
[code]

And confirmed not changed in the web interface.

[2018-06-15 13:47] markeganfuller opened #198 "No MX Record"
There is currently no MX record class so MX records can't be handled.

[2018-06-18 10:20] markeganfuller commented on #197
A workaround is to use the low level API:
[code]

[2018-06-18 13:04] markeganfuller commented on #193
This can be worked around with the low level API:

[code]

[2018-06-18 15:49] markeganfuller commented on #194
The low level API can be used as a workaround to this:

[code]

[2018-08-15 16:13] Msojdehei commented on #154
was the cert questions answered?  I'm having the same issue, how to add cert_valid 'no'? or add a cert?

[2018-10-25 11:37] limitedreality opened #204 "Creating A Record with existing IP Data conflicts or overwrites existing IP"
CentOS 7.4.1708
infoblox-client 0.4.20
Python 3.6.5

So I've found that if I try to create an A record for an IP not already used in an existing zone it creates fine.  Example test below using test.example.com:

DEBUG:urllib3.util.retry:Converted retries value: 3 -> Retry(total=3, connect=None, read=None, redirect=None, status=None)

DEBUG:infoblox_client.connector:Sending get request to https://I

[2018-12-03 21:08] cmacnevin opened #208 "How to create network container?"
Hi,

'get' network object works fine using:
conn.get_object('network', {'network': nw})
and 'get' network container works fine using:
conn.get_object('networkcontainer', {'network': nw})

creating networks works fine using:
view='Internal', network_view='default', comment=comment)
BUT, the following results in an AttributeError:
objects.NetworkContainer.create(conn, cidr=nw, view='Internal', netwo

[2019-02-07 14:51] Precission commented on #208
There is no object for NetworkContainer. You can use the create_object for every object in Infoblox.
```conn.create_object('networkcontainer', {'network': nw})```

[2019-03-07 11:51] JonasKs opened #217 "0.4.22 is not on PyPI"
Version has been bumped to 0.4.22, but PyPI is still on 0.4.21.

[2019-03-19 14:37] JonasKs commented on #217
@saiprasannasastry , tagging you since you did the bump.

[2019-03-19 16:18] saiprasannasastry commented on #217
Thankyou for raising an issue ,will try to resolve it ASAP. I am asking for pypi access,as soon as i get it i will do .

[2019-03-25 06:10] saiprasannasastry commented on #217
it has been updated on pypi as well

[2019-03-25 06:10] #217 closed

[2019-05-06 19:51] urskog84 opened #218 "urllib3 incompatible"
Can not install infoblox-client lib. I get the flowing error.

`requests 2.21.0 has requirement urllib3<1.25,>=1.21.1, but you'll have urllib3 1.25.2 which is incompatible.`

uname -a
---
[code]
os-release
----
[code]

[2019-05-06 20:20] JonasKs commented on #218
This is an `requests` issue, not Infoblox issue. See [this issue](https://github.com/kennethreitz/requests/issues/5067).

[2019-06-06 17:48] prashanthps opened #219 "Get utilization for ipam network, networkcontainer"
Perhaps get_object method can be enhanced to return utilization? IPAM object utilization is available on the REST API, just not supported by the infoblox-client as far as I can tell.

[2019-06-06 18:23] JonasKs commented on #219
You need to specify return fields.

[code]

[2019-06-06 19:16] prashanthps commented on #219
I don’t get an error when I specify return fields to say “utilization”. But
I don’t get any data either. Using the latest client. Wapi version is 2.7.3

On Thu, Jun 6, 2019 at 11:23 AM Jonas Krüger Svensson <
notifications@github.com> wrote:

--
Thanks,

Prashanth

[2019-06-06 21:01] prashanthps commented on #219
This works:
`get_object('network', extattrs={'device': {'value': 'switch'}}, return_fields=['netowrk', 'netmask', 'extattrs'])`

This doesn't: No errors. Just no output.
`get_object('network', extattrs={'device': {'value': 'switch'}}, return_fields=['utilization', 'total_hosts'])`

[2019-06-06 21:16] JonasKs commented on #219
I’ll test at work tomorrow.

[2019-06-07 06:08] saiprasannasastry commented on #219
![image](https://user-images.githubusercontent.com/36291746/59084398-b5925f80-8918-11e9-9aad-35b0e95b88e5.png)

cant search utilization, is specified in wapi documentaion

[2019-06-07 06:09] #208 closed

[2019-06-07 06:10] #218 closed

[2019-06-07 06:49] JonasKs commented on #219
He's not trying to search the utilization, just have it returned for the object.

Could you try my functions? Also double check that you have the newest version of Infoblox-client, or this won't work (remove the `default` flag if you can't upgrade)
The `:` makes the string matching case insensitive, the `~`  makes it a regex search.

According to the docs `extensible attributes` must be prefixed b

[2019-06-07 07:20] saiprasannasastry commented on #219
oops sorry, thanks for pointing it out @JonasKs

[2019-06-07 17:10] prashanthps commented on #219
I found the problem. I hadn't set the wapi_version when I initialized the connector.Connector object. So, it defaulted to version 2.1
`In [26]: myConnector.wapi_version
Out[26]: '2.1'`

I changed that to 2.7.3, which is the version the grid is running, and also had to modify the wapi_url
`In [25]: myConnector.wapi_url
Out[25]: 'https://infoblox.prod.box.net/wapi/v2.1/'`

to this
`Out[25]: 'https:/

[2019-06-07 17:12] prashanthps commented on #219
I found the problem. I hadn't set the wapi_version when I initialized the connector.Connector object. So, it defaulted to version 2.1
In [26]: myConnector.wapi_version
Out[26]: '2.1'

I changed that to 2.7.3, which is the version the grid is running, and also had to modify the wapi_url
In [25]: myConnector.wapi_url
Out[25]: 'https://infoblox_url/wapi/v2.1/'

to this
Out[25]: 'https://infoblox_url/

[2019-06-07 17:12] #219 closed

[2019-06-07 20:59] rainierpineda2 opened #220 "Update does not work for host record"
I tried an update on a host record but it does not work
[code]
I've seen an example for another issue that says use low-level API but if we go that route what is the use of update?

Your help is appreciated. Thanks!

[2019-06-07 22:46] JonasKs commented on #220
I won’t be on a PC until Tuesday, but I can probably help if you format your code properly so it’s readable on my phone.
Please format with code blocks instead of quotes.

[code]

[2019-06-07 23:34] rainierpineda2 commented on #220
Thanks Jonas...I updated the code block

[2019-06-08 06:41] JonasKs commented on #220
I’ve never tried to change the IP of an object, and I’m not sure if that possible. I don’t have access to the WAPI doc atm.

As seen in the source code [here](https://github.com/userlocalhost/infoblox-client/blob/a24ad1a6c97806155c22cbb82c27398e5d413ca4/infoblox_client/objects.py#L186) the explanation for a `shadow_field` says:

If we then look at the [host record code](https://github.com/userloca

[2019-06-08 07:09] JonasKs commented on #220
Second option would be as you said to use `get_object` and `update_object`. This Is not tested code, and written on my phone so it mat have errors and autocorrect stuff.
First, make an infoblox connection:
[code]

[code]

This should work, but as I said I haven’t tested it.

[2019-06-09 15:30] rainierpineda2 commented on #220
Thanks Jonas. I will try these and let you know.

[2019-06-27 07:11] mdzhigarov opened #221 "FixedAddress doesn't have a 'name' field"
The objects.FixedAddress (v4 & v6) doesn't have a 'name' field.
This makes it impossible to create a fixed address with populated name in Infoblox.

[2019-06-27 13:20] JonasKs commented on #221
You can use the `create_object` to do everything the high level don't support.

[code]

[2019-06-27 13:23] JonasKs commented on #220
Did it work? Please close the issue if it did.

[2019-06-27 15:08] mdzhigarov commented on #221
Yes, I know there is a workaround. But it doesn't hurt to add the "name" field to the FixedAddress directly

[2019-06-27 18:51] rainierpineda commented on #220
Hi Jonas. My test Infoblox has been having issues. I will test ASAP when my access is restored and let you know.

[2019-06-27 19:02] JonasKs commented on #221
This repo seems to be dead with the exception of pull requests, unfortunately.

[2019-06-27 21:29] rainierpineda2 commented on #220
It doesn't seem to like the update
[code]

[2019-07-01 15:26] JonasKs commented on #220
Then you will have to delete and re-create it. Let me know if you need more help.

[2019-07-01 18:28] rainierpineda commented on #220
Thanks Jonas. I guess that is the only way. You may close this thread.

[2019-07-01 19:07] JonasKs commented on #220
I’m not an Infoblox employee, I just happened to see your post, hehe. You will have to close this yourself :)

[2019-07-02 12:12] #220 closed

[2019-08-08 17:32] pyup-bot opened #223 "Initial Update"
The bot created this issue to inform you that pyup.io has been set up on this repo.
Once you have closed it, the bot will open pull requests for updates as soon as they are available.

[2019-08-10 15:08] Udayendu opened #226 "0.4.22 is not working with ansible 2.6 and higher"
infoblox-client 0.4.22 is working perfectly upto ansible 2.5. But from ansible 2.6 onwards its giving the following error upto ansible 2.8:

---
No handlers could be found for logger "infoblox_client.connector"
---

Logs when not working: https://paste.fedoraproject.org/paste/ZNQzYr7Y35-kczHEkFMETA/raw
Logs when working: https://paste.fedoraproject.org/paste/YJy8JTJIJCDfA-QARlOKtw

I was trying to

[2019-08-10 15:14] saiprasannasastry commented on #226
This says that the ip is not in NIOS?

[2019-08-10 15:23] saiprasannasastry commented on #226
can you test 0.4.21 with ansible 2.6/2.7?

[2019-08-12 06:19] Udayendu commented on #226
Already tried and the error is same. But its working with 2.5 perfectly.
After trying with 0.4.21 I upgraded the infoblox-client to 0.4.22 . Thats why I am suspecting some compatibility issue is there between infoblox-client and ansible 2.6 and higher.

[2019-08-13 06:14] saiprasannasastry commented on #226
@JonasKs do you have any idea what would have caused the issue(also can you check this #214 )
@Udayendu can you raise a bug on our ansible page, i have not worked on ansible

[2019-08-13 09:04] Udayendu commented on #226
I have opened the following Bugzilla:

https://github.com/ansible/ansible/issues/60465

[2019-08-13 09:21] saiprasannasastry commented on #226
you're saying 0.4.22 is working fine with anisible 2.5 but not 2.6/7/8 , i think it should be something from anisble side, i will also try to keep a track on that bug

[2019-08-13 14:14] Udayendu commented on #226
Sure. Also I found one interesting things.

Let say in one /24 subnet I have 10 free IP but while running the playbook I am trying to search 11, then its breaking. And if I have 100 free IP and I am trying to search something more than 20 its breaking. But if 100 free IPs are there and I am trying to search upto 20, its working with ansible 2.5 version. With higher version its still breaking. Whic

[2019-08-13 14:18] yuewko commented on #226
@Udayendu , is it possible to collect diagnostics from the infoblox-client module itself?

(Sorry if it's a dumb question - Ansible is foreign to me)

[2019-08-14 05:31] saiprasannasastry commented on #194
Hi tried this out, and it is working fine, while doing search when i print example.comment , it returns comment.
creation also works fine

[2019-08-14 05:35] saiprasannasastry commented on #180
closing since you found the fix

[2019-08-14 05:35] #180 closed

[2019-08-14 06:08] saiprasannasastry commented on #194
Hi, you can search like this
kwargs = {
        'return_fields': [
            'ipv4addr',
            'comment',
        ]
    }
example = objects.ARecord.search_all(connector=conn, **kwargs)

returns something like this [ARecord: comment="testing things", _ref="record:a/ZG5zLmJpbmRfYSQuX2RlZmF1bHQuY29tLmV4YW1wbGUsYW4sMTAuMC4wLjQ:an.example.com/default", ipv4addr="10.0.0.4", ARecord: comment="sfd

[2019-08-14 06:08] saiprasannasastry commented on #221
will add this

[2019-08-14 07:19] saiprasannasastry commented on #193
![image](https://user-images.githubusercontent.com/36291746/63001770-f74c0300-be91-11e9-975c-cdde0b709e8d.png)
cant search ttl

[2019-08-14 09:29] saiprasannasastry commented on #155
closing this as the issue is solved

[2019-08-14 09:29] #155 closed

[2019-08-14 10:16] saiprasannasastry commented on #193
PR has been raised and it will be merged by today or tomorrow. Closing this as the feature has been added, how to return is addressed in #194

[2019-08-14 10:16] #193 closed

[2019-08-14 16:00] saiprasannasastry commented on #221
closing this as name field has been added

[2019-08-14 16:00] #221 closed

[2019-08-14 19:42] JonasKs commented on #226
I don't use Ansible, so I'm not the person to go to here. I just had some beers so didn't do too much of a deep dive, but I decided to have a quick look. I don't use ansible so I'll take @Udayendu's word for that it works fine in 2.5, but not 2.6.

[2.5 ](https://github.com/ansible/ansible/blob/stable-2.5/lib/ansible/plugins/lookup/nios_next_ip.py) and [2.6](https://github.com/ansible/ansible/blob

[2019-08-16 06:59] saiprasannasastry commented on #204
Hi, please use it like this to create multiple records
This creates multiple records for same IP
`
objects.ARecord.create(
    connector=conn,
    ip='10.0.0.2',
    name="a5.example.com",
    view="default",
    check_if_exists=False
)
`

[2019-08-16 06:59] #204 closed

[2019-08-16 09:50] saiprasannasastry commented on #194
comment was not specified in _fields and hence you were not able to add a comment

[2019-08-16 14:15] JonasKs commented on #226
I wrote a reply in https://github.com/ansible/ansible/issues/60465, the playbooks works fine for me, so it's probably just @Udayendu on a really old version of Infoblox, which don't have WAPI 2.1, making it break.

Update your Infoblox and things will work.

---------------------

What I said above was true. The requested number of networks must be between 1 and 20.

I think this ticket can be clo

[2019-08-16 14:31] yuewko commented on #226
@JonasKs , thanks for looking into it and sharing your finding!

@Udayendu , please confirm @JonasKs finding so we can dispose of this issue accordingly.

[2019-08-16 15:51] JonasKs commented on #226
No worries. This can be solved by setting the WAPI version to 1.4 in the playbook too, if upgrading Infoblox is not possible.

[2019-08-18 10:15] Udayendu commented on #226
Hi @JonasKs

As updated in the other bug for next_available_ip in the network, I am on my way to upgrade my infoblox devices and update you with my findings. But as per the code whats the max ip search range that can work ? Because with my ansible 2.5 it can go max upto 20. And the moment I am switching it to 21, its breaking though I have 100+ free IPs available in the subnet.

So I can think of

[2019-08-18 10:20] Udayendu commented on #226
@yuewko @saiprasannasastry

In https://github.com/ansible/ansible/issues/60465 @JonasKs has mentioned that currently max search limit is set to 20 in infoblox-client. Can we extend that ? Because the for us, 20 wont work. Also check for the point[b] as mentioned in the above comment. Thats not handled well as of now and its throwing error once reached that point instead of showing the ips thats ac

[2019-08-18 10:24] JonasKs commented on #226
No, I did not say it's set to 20 in `infoblox-client`. I specifically said it's not:

It's hardcoded to 20, but **not in this python module**. It's an Infoblox WAPI restriction. Try the same in the GUI, you'll see that you can at maximum request 20 next available IPs.

As for a work around that might work for you:
-  List all IPs in the subnet you want to reserve IPs from
-  Loop over the list, ch

[2019-08-18 14:40] saiprasannasastry commented on #197
@markeganfuller  please try now.

[2019-08-18 22:02] markeganfuller commented on #197
@saiprasannasastry Sorry I no longer have access to an infoblox instance so I'm unable to verify.

[2019-08-19 07:02] Udayendu commented on #226
Currently I am already doing the same through a python wrapper where passing the first and last free ip of a subnet to map it in the infoblox. But to get the free IPs every time I have to get into the infoblox GUI. We have more than 50 subnets per datacenters. Hence its not very convenient though working as a workaround. Hence I was looking for the search option.

       How this infoblox WAPI can

[2019-08-19 07:11] saiprasannasastry commented on #226
You will have to raise a NIOS support ticket and get it escalated from here

[2019-08-19 07:21] Udayendu commented on #226
Sure. I will do that let you guys know. Hope to fix it soon.

[2019-08-21 06:34] JonasKs commented on #226
Nice. Can you close this ticket, as it’s confirmed it has nothing to do with this codebase?

[2019-08-28 06:42] Udayendu commented on #226
This bug can be closed now. It was due to the older version of infoblox. After upgrading the infoblox to 8.3.4 everything is working fine with ansible 2.8  and infoblox-client 0.4.22 .

[2019-08-28 06:42] #226 closed

[2019-09-05 06:21] saiprasannasastry commented on #197
closing this since i have tested it

[2019-09-05 06:21] #197 closed

[2019-10-01 02:25] noziwatele opened #233 "Extensible attributes to be optionally updated/modified rather than replaced"
It would be great if extensible attributes on objects could be updated rather than replaced. The WAPI has a method for this with extattrs+/- which will add or remove an attribute from the set without affecting other attributes.

E.g.

[code]

I see that some work has been done towards this in the past, but it doesn't seem to work anymore. Ref #66

When I do the following:

[code]
... it replaces a

[2019-10-03 09:16] saiprasannasastry commented on #233
@noziwatele  quite a busy schedule this week, will definitely look into it and try providing the fix :)

[2019-10-09 08:52] saiprasannasastry commented on #233
@noziwatele  youre saying that when you do update, it removes all the present ones and add new ones that are passed?

[2019-10-09 09:13] saiprasannasastry commented on #233
also i think you are making an objects call, try making this function call from object_manager
update_network_options('10.0.0.0/24',ea)

[2019-10-09 15:05] JonasKs commented on #233
Infoblox defaults to overwriting unless you update with the `+` sign.(`{“extattrs+” {...}}`) This is only true for newer versions of Infoblox I believe, so a version check would have to be implemented.

[2019-10-21 12:00] rajathav28 commented on #181
Hi, I can see that you are trying to create a host record where you are trying to pass the argument "update_if_exists" but the function you are trying to implement is Update an IP.
But the Create method is only used for an record creation and not for update and hence you get the error "record already exists"

Instead if you would like to update the IP of a record you can specifically use the updat

[2019-10-21 16:49] bandit145 commented on #181
@rajathav28 Thanks for the response! This is a non-issue for me now that there are the official Infoblox Ansible modules but I appreciate the clarification.

[2019-10-21 16:49] #181 closed

[2019-10-25 04:33] nbartos opened #236 "Auth regression between 0.4.22 and 0.4.23"
After this commit:  https://github.com/infobloxopen/infoblox-client/commit/d85e570f6540efcd20c404897101a56c4257876a

I am able to login, but unable to perform write operations.

Example test script:
[code]

Traceback:
[code]

Python 3.7.5rc1

Venv list:
[code]

[2019-10-25 05:45] JonasKs commented on #236
Your traceback say:
[code]
I’d start there

[2019-10-25 05:59] nbartos commented on #236
The credentials and host are all correct.  Everything works perfectly when reverting commit https://github.com/infobloxopen/infoblox-client/commit/d85e570f6540efcd20c404897101a56c4257876a .

[2019-10-25 06:02] nbartos commented on #236
Interestingly, when setting HTTP_PROXY to a squid proxy, it works after that commit.  I'm a bit baffled on what is going on there.

[2019-10-25 07:23] JonasKs commented on #236
Hmm, strange. I'm not using any proxy, using Python3.8 and newest version without any issues.
Can you go into your `venv/lib/python3.7/site-packages/infoblox-client/connector.py` and actually print the response on line `175`? Since the exception gives no indicator, it's hard to troubleshoot.
[code]

[2019-10-28 00:56] nbartos commented on #236
I printed response.text and got this:
[code]

As far as wapi_version goes, I could only go up to 2.9, 2.10 was not supported.  It didn't seem to change anything.

[2019-10-28 01:11] nbartos commented on #236
I think I may know what is going on.  When the auth is performed, following requests that use the same cookie need to come from the same source IP address?  If I print out the requests, I see in the cookie the "ip=" entry changes.  In 0.4.22, it seems that there are more times where a cookie is created than in 0.4.23.  I believe there may be a load balancer or reverse proxy between the client and

[2019-11-06 22:43] nbartos commented on #52
Any chance we could get txt record support?  This ticket has been open for 4 years.

[2019-11-07 09:50] saiprasannasastry commented on #52
Will add it, closing the issues one by one, there was a release going on, will make sure this gets closed ASAP

[2019-12-05 11:17] rajathav28 commented on #198
@saiprasannasastry i guess you can close this as we have included the MX record.

[2019-12-06 06:00] #198 closed

[2019-12-12 09:53] serbaniuliuscezar opened #240 "Remove Python 2 support"
As Python2 will officially be EOL in 2 weeks, does it make sense to refactor the code so as to remove legacy code that is not used by Python3? Stuff like having classes inherit base object.

[2019-12-12 10:03] saiprasannasastry commented on #240
It would take quite some effort to refactor. Need to talk to manager and get back

[2019-12-20 16:59] getsomebread opened #241 "nios_next_ip is broken on python 3.6.8"
I've been successfully using infoblox-client with python 2.7.5 on CentOS7. However, when using the same infoblox-client 0.4.23 with python 3.6.8 on CentOS8, I get a failure when using nios_next_ip. My ansible code will work with python 3.6.8+infoblox-client with nios_host_record if I hard-code the 'ipaddress' value. However, when I use nios_next_ip with 3.6.8, I consistently get this error:

An un

[2019-12-20 17:08] JonasKs commented on #241
Please post entire stack trace, not just the last part.

I can confirm it works on 3.6, 3.7 and 3.8. There has to be something else.

[2019-12-20 17:54] ryebread157 commented on #241
I used '-vvvv' to ansible-playbook and below is all I got from that, if there is another command I should use to get debug info, let me know! Thanks.

[code]

[2019-12-20 23:12] JonasKs commented on #241
To be honest it looks like you haven’t installed infoblox-client in your Python 3.x environment. Do a `python3.6 -m pip install Infoblox-client`.

[2019-12-23 09:52] saiprasannasastry commented on #195
Fixed in #238

[2019-12-23 09:52] #195 closed

[2020-01-07 14:19] jonnic opened #242 "Restart services"
Is it possible to restart the DHCP service through this client library? If so is there an example available.

Thanks,

[2020-01-07 14:22] JonasKs commented on #242
Is it possible through the WAPI? If so, yes, if not, no. Check `yourinfoblox.url/wapidoc`

[2020-01-07 14:35] jonnic commented on #242
Yes, it's possible through wapi, I've used it in the past by using the requests library natively:-
[code]

however I see in the `object_manager` has a  `restart_all_services` method, but there doesn't appear to be any documentation on how to use it, or examples of it being used elsewhere in the code.

It would be much cleaner to use a pre-defined method than writing my own if one is available.

Lo

[2020-01-08 10:12] saiprasannasastry commented on #242
is that your hostname?

[2020-01-08 10:14] saiprasannasastry commented on #242
from infoblox_client.object_manager import InfobloxObjectManager

x = InfobloxObjectManager(conn).restart_all_services(member='infoblox.localdomain')
the name should be the hostname of the member

[2020-01-09 08:59] jonnic commented on #242
In my example call 'infoblox-gridmaster' is replaced with the FQDN of our gridmaster.

I've tried the example you provided
`x = InfobloxObjectManager(conn).restart_all_services(member='infoblox.localdomain')`

But `restart_all_services` expects a member object not a string, so this errors.

[2020-01-09 09:16] jonnic commented on #242
I've found a way to implement it in my application, here `self._iblox` is a infoblox_client.Connector object.
[code]

[2020-01-09 09:59] saiprasannasastry commented on #242
from infoblox_client.object_manager import InfobloxObjectManager
from infoblox_client import connector
from infoblox_client import objects

opts = {'host': '10.120.22.17', 'username': 'admin', 'password': 'infoblox'}
conn = connector.Connector(opts)
y= objects.Member.search(conn,host_name="infoblox.localdomain",
                                                 return_fields=['host_name'])
x = Info

[2020-01-09 10:00] saiprasannasastry commented on #242
sorry that i commented before trying it out :)

[2020-01-09 10:06] saiprasannasastry commented on #242
2/2 we dont have a high level API to implement a single service restart

[2020-01-09 11:48] jonnic commented on #242
Thanks!

[2020-01-09 11:48] #242 closed

[2020-01-09 18:29] Bahu2016 opened #243 "Infoblox DHCP ip reservation information using ansible module"
Hi all,

Greetings,

Am new to infoblox and planning DNS automation. Am not sure whether this repository is the right place to my question.

My requirement is i want to reserve ip in DHCP range, is that possible using below ansible module?
if not what is the better to do?

dhcp: true ( Will it reserve the IP ? )

[code]

[2020-01-10 06:00] saiprasannasastry commented on #243
can you open it on ansible github page

[2020-01-10 06:03] saiprasannasastry commented on #243
on a different note, to reserve an IP give zero mac address . 00:00:00:00:00:00

[2020-01-10 09:17] tadeboro commented on #240
Please do note that this library is used by Ansible NIOS modules. Removing support for Python 2 might render them unusable on systems that do not have Python 3 installed (for example, RHEL 7 comes with Python 2 installed by default and is supported until 2024).

[2020-01-10 09:29] saiprasannasastry commented on #240
@tadeboro  right now there are no plans of removing python2 support because of anisble and openstack plugins :)

[2020-01-10 15:37] serbaniuliuscezar commented on #240
Oh, wow, I did not know that. Legacy software :(

Then maybe we'll check again in 2024 💯

[2020-01-10 15:37] #240 closed

[2020-01-10 16:43] Bahu2016 commented on #243
Thanks,

I will check in ansible GitHub for ansible modules?

Is that possible through api?

On Fri, Jan 10, 2020 at 12:03 AM saiprasannasastry <notifications@github.com>
wrote:

--
Thanks & Regards,

Sekhar.P

[2020-01-13 06:25] saiprasannasastry commented on #243
yes it is possible through API

[2020-01-13 06:26] Bahu2016 commented on #243
Can you let me know how?

On Mon, Jan 13, 2020 at 12:25 AM saiprasannasastry <notifications@github.com>
wrote:

--
Thanks & Regards,

Sekhar.P

[2020-01-13 10:13] saiprasannasastry commented on #243
curl -k -u admin:Infoblox -H 'content-type: application/json' -X POST "https://127.0.0.1/wapi/v2.7/fixedaddress?_return_fields%2B=ipv4addr,mac&_return_as_object=1" -d '{"ipv4addr":"192.168.1.100","mac":"00:00:00:00:00:00"}'

[2020-01-13 10:14] saiprasannasastry commented on #243
This above will reserve the IP for later Use , but if you want a fixed address, give the mac address

[2020-01-13 14:14] Bahu2016 commented on #243
But I need to provide Ip address, is there anyway to get next available ip?

On Mon, Jan 13, 2020 at 4:14 AM saiprasannasastry <notifications@github.com>
wrote:

--
Thanks & Regards,

Sekhar.P

[2020-01-14 06:09] saiprasannasastry commented on #243
please refer the wapi documentation . All of the api requests are shown there

[2020-01-14 15:28] jonnic opened #244 "Remove extattrs from object"
Is there a mechanism for removing extensible attributes from an object? In my case I'm using a VLAN name associated with a network object.
I've tried creating a new EA object without the entries I want and assigning it to the network:-

[code]
Results in the error:-
[code]
when the network update is called.

Am I doing something wrong?

[2020-01-16 06:52] saiprasannasastry commented on #244
can you paste the complete code here.

[2020-01-21 22:22] Bahu2016 commented on #243
Hi Sai,

I didn't find proper WAPI document for the above request

[2020-01-21 22:38] JonasKs commented on #243
Look under function calls.

[code]

[2020-01-21 22:59] Bahu2016 commented on #243
Thanks @JonasKs , but how could i get the available ip with in the range?

[2020-01-21 23:02] Bahu2016 commented on #243
in the subnet 168.94.24.0/25, i have DHCP IP Range [168.94.24.100 - 168.94.24.200], how could i get the next available in the subnet range.

if i need to go with exclude options then it is big pain, because i need to exclude lot more ip's

[2020-01-22 06:36] JonasKs commented on #243
DHCP is marked as used, you don’t need to exclude those.

I told you above how you could get the next available IP. To find the network reference you have to fetch the network first, have a look at the README in this project.

[2020-01-24 09:12] pieterdejaeghere commented on #236
We are facing the exact same error after an upgrade from 0.4.20 -> 0.4.23. We integrated this package into a long-living daemon. Soon after a restart everything works, but after a while, auth fails. I'm assuming this is because the cookie expires after a while, and this code assumes it won't expire. Without a fix for this case, we're stuck on 0.4.22

[2020-02-19 09:00] JonasKs opened #245 "Publish to PyPi"
Hi,
We've seen 6 PRs over the last months go through without pushing to PyPi. Could a new release be scheduled?
If you'd like to look into doing this through github workflows to do that kind of job, I've implemented that in my project [here](https://github.com/JonasKs/django-guid/blob/master/.github/workflows/publish_to_pypi.yml).

[2020-02-24 06:55] saiprasannasastry commented on #245
@JonasKs  was out of office the entire last week, will get these commits pushed, and try to implement something. ALways appreciate your ffedback :)

[2020-02-27 09:39] #245 closed

[2020-02-27 09:39] saiprasannasastry commented on #245
pushed

[2020-04-06 18:40] moet78 commented on #196
This seems to still be an issue in 0.4.25. Is there a fix or work around?

[2020-04-07 14:22] johnl2323 commented on #52
What is the status on implementing txt record support?

[2020-04-08 04:21] saileshgiri commented on #52
Hi @johnl2323, we've taken this up and shall provide a fix soon.

[2020-04-09 08:02] AvRajath commented on #52
#258 Raised a PR. Should be available once accepted.

[2020-04-09 12:52] badnetmask opened #259 "RFE: upgrade WAPI version to something after 2.7"
https://github.com/infobloxopen/infoblox-client/blob/f2eca3579c55dc76732f85cc2be64a33d1b83d62/infoblox_client/connector.py#L73

This is more an RFE than a bug. Over time I have bumped into issues with this library which have been traced back to the fact that it's still using WAPI 2.1, while the latest seems to be 2.11 (NIOS 8.5.0). Some of the stuff I have noticed is, for example, support for DTC

[2020-04-14 23:26] nbartos opened #260 "New pypi release"
Now that txt record support has merged, can we please get a new pypi release?

Thanks.

[2020-04-27 11:48] bmillemathias-1a opened #261 "generate release on github"
Hello,

latest releases on github does not exist, could it be fixed ?

thanks !

[2020-04-27 11:49] bmillemathias-1a commented on #241
@ryebread157 could you answer to this issue ?

[2020-05-15 00:20] IngmarVG-IB commented on #261
Should be addressed now we pushed 0.5.0

[2020-05-15 00:20] IngmarVG-IB commented on #260
fixed by 0.5.0

[2020-05-15 05:01] #260 closed

[2020-05-21 05:21] AvRajath commented on #261
Closing this issue as the latest release is now available.

[2020-05-21 05:21] #261 closed

[2020-05-21 05:26] AvRajath commented on #259
@badnetmask You can use this
opts = {'host': '192.168.1.10', 'username': 'admin', 'password': 'admin', 'wapi_version': <required_version>}
conn = connector.Connector(opts)

Bumping up to higher WAPI versions as default would impact customers using older version of NIOS. But you may always use the wapi_version parameter to use the wapi version that you want to.

[2020-05-21 05:30] #52 closed

[2020-06-02 16:32] fredgnucc opened #264 "cannot get options variable when i get a network ."
Hello Guys ,

i was creating my call by myself in the past to get/create infoblox data ,

iam starting using you python module which is doing more things ^^

when i try to use this method : all good 👍

network = conn.get_object('network', {'network': args.network , 'network_view': network_view[0]['name']  })

[{'_ref': 'network/ZG5zLm5ldHdvcmskMTAuMjM3LjI0NS4wLzI2LzY4:10.237.245.0/26/32830', 'netw

[2020-06-02 17:25] JonasKs commented on #264
Which version of `infoblox_client` do you use? If it's not version `0.5.0` I'd highly suggest you update to the newest version. If you're using `pip` you can do it by issuing the following command: `pip install infoblox-client --upgrade`

The new version (`0.5.0`) has all(I believe) return fields, so this should solve your problem.

If that still don't work(try upgrading first!), you can extend th

[2020-06-02 17:26] JonasKs commented on #259
Fixed in https://github.com/infobloxopen/infoblox-client/pull/263.

[2020-06-03 06:25] fredgnucc commented on #264
Hey JonasKs

First thanks you for your fast reply 👍

objects.NetworkV4.search ( conn , return_fields= ['options'], network_view= network_view[0]['name'] , cidr =  args.network  ) )

works like a charm :) i think i was missunderstanding some part of the library now all good .

thanks for the work done really nice library

NetworkV4: options="[Dhcpoption: name="dhcp-lease-time", num="51", use_option

[2020-06-03 08:10] JonasKs commented on #264
Good stuff 👍

Please close the ticket :)

[2020-06-03 20:08] #264 closed

[2020-06-03 20:08] fredgnucc commented on #264
all good guys !

[2020-06-11 11:49] JonasKs opened #265 "Update if exist does no longer work after 0.5.0"
Hi,

Update if exists no longer work in version 0.5.0.

[code]

Results in an exception:

[code]

Downgrading to 0.4.25 works. I'm not able to look into this today, and I assume this is a core-thing with how you've generated your code compared to before.

Tagging @AvRajath since it's his PR.

[2020-06-11 12:09] AvRajath commented on #265
@JonasKs As this was an auto generated client from the NIOS schema. There was no testing done on this. Hence this might have got missed. Will surely look into this.

[2020-06-30 16:58] GKaren001 opened #266 "Infoblox authentication errors - cookie issue"
We integrated Infoblox-client with a continuous running daemon.
Initially the connection to Infoblox works fine and all the requests go through but after leaving the daemon running for over 10 minutes , the authentication fails with below error.

_Infoblox IPAM is misconfigured: infoblox_username and infoblox_password are incorrect._

This seems to be caused by the cooking expiration. Any suggesti

[2020-07-02 08:28] edgrk commented on #243
reservation of IP with zero mac address works very well.. But how I can add comment/name to entry? to distinguish it from other reservation any hint maybe?

[2020-07-02 09:15] JonasKs commented on #243
What do you mean? You can specify `comment` and `name`.

[2020-07-02 09:20] edgrk commented on #243
So I have similar issue like person who started this thread, but not with Ansible but with infoblox python client.
I`m looking for a way to reserve IP within specific subnet. And solution about 0 mac works, however in our organization we usually adding also Name and Comments to reservation (If reservation is done through Infoblox GUI). So now i`m looking if there is a way how I can add at least Na

[2020-07-02 09:24] edgrk commented on #243
So I have similar issue like person who started this thread, but not with Ansible but with infoblox python client.
I`m looking for a way to reserve IP within specific subnet. And solution about 0 mac works, however in our organization we usually adding also Name and Comments to reservation (If reservation is done through Infoblox GUI). So now i`m looking if there is a way how I can add at least Na

[2020-07-02 09:30] JonasKs commented on #243
Haven't tested my self, but something like this should work:

[code]

[2020-07-02 09:48] edgrk commented on #243
Thank you very much this works :)

[2020-07-09 23:23] IngmarVG-IB commented on #266
The default account time-outs are 360s which matches what you are seeing. You can set that timer to a higher value or include a check for session validity into your daemon.

[2020-07-16 07:11] JonasKs commented on #265
Any status?

[2020-07-17 04:02] AvRajath commented on #265
Had been occupied with other prioritized tasks. Will look into it ASAP.

[2020-07-20 09:32] AvRajath commented on #265
@JonasKs
It does a get object request to see if the object already exists and in this case when we do a Get the appended search fields were
`_search_for_update_fields = ['comment', 'network_view', 'network'] `
in 0.5.0 and hence the get request was making queries in this form:

`GET /wapi/v2.7/network?comment=test+network&network=192.168.11.0%2F24`

Wherein the comment would have to be updated but

[2020-07-20 21:59] shashankbansal6 commented on #266
I have the same issue. I set the following config:
[code]
From what I understand setting `http_request_timeout : None` should set this value to never timeout right?

[2020-07-21 07:54] JonasKs commented on #266
To me, it seems like the message you get is provided by the `InfobloxBadWAPICredential`, which again is only raided by `if response.status_code == requests.codes.UNAUTHORIZED`, so the session time out seems to be on the Infoblox side of things. Which again means that you have to handle it in some other way. A non-DRY example to just give you a hint below:

[code]

[2020-07-21 07:56] #259 closed

[2020-07-21 07:59] AvRajath commented on #244
Closing this issue as we heard no response.

[2020-07-21 07:59] #244 closed

[2020-07-21 08:05] JonasKs commented on #265
I haven't really used the 0.5.0, nor looked closely at the code, so I'm not sure what's the best solution to be honest. `_search_update_fields` sounds like the correct thing to fix, if that's it's use.

[2020-07-21 18:05] shashankbansal6 commented on #266
Sorry about the logs. You are right, I had a misunderstanding about the `http_request_timeout`. I have fixed that. As for the session persistence goes, as a more long term solution I guess I need to add a logic to refresh sessions every few hours.
In any case, thanks for the help and explanation.

[2020-07-22 06:32] AvRajath commented on #265
Fixed in #267 and seems to be working fine. Please reopen if you feel the issue hasn't been resolved

[2020-07-22 06:32] #265 closed

[2020-07-30 22:41] shashankbansal6 opened #268 "HostRecord does not add/update comment"
Type: Bug
Python version: 3.7.3
Infoblox-client version: 0.5.0
OS: MacOS Catalina Version 10.15.5

When I am trying to create `HostRecord` for some reason it doesn't add a comment even though in the logs it shows that the record was created with the comment.

How to Reproduce:
[code]
I get the following log:

[code]

but when I look at the HostRecord, I don't see the comment:

[code]

I also, trie

[2020-08-04 18:40] shashankbansal6 commented on #266
Btw if anyone else had the same issue, this was my solution:

[code]

[2020-09-21 16:03] piwigit opened #269 "How to add multiple IP addresses to host record"
Hi guys.

How can I add multiple IP addresses to one host record using the high level API objects?

The documentation says:

**Create a host record:**
[code]

That's working like a charm. But I want to add a second, third ... IP address to that host record without overwriting existing addresses and I didn't figure out how. May you please help?

Thanks in advance.

[2020-11-02 06:18] AmbicaY commented on #236
We are also facing the same problem. On restart of the app, it works fine, but after sometime, it fails with the same error above.

[2020-11-06 12:16] antoinedelia opened #271 "Typo when adding extattrs in _construct_url, resulting in "Unknown extensible attribute" error"
When we try to add `extattrs` to a request, it goes into the `_construct_url` and get added to the query params.

However, there is a little star when adding the key as seen below:

https://github.com/infobloxopen/infoblox-client/blob/a705e7335c43ac0ea686e9414291781109ea7e57/infoblox_client/connector.py#L153

This produces an error when trying to make the request:

[code]

Url used to make the req

[2020-11-06 12:26] JonasKs commented on #271
Have you tried the approach seen in the [README.md](https://github.com/infobloxopen/infoblox-client#more-examples)?

[2020-11-06 13:06] antoinedelia commented on #271
Hello Jonas,

I just tried the exact code from the exemples you linked. I just replaced the `extensible_attribute` with "alias" and `value` by "foo.bar.com", but I got the exact same error as before.

[2020-11-06 13:28] antoinedelia commented on #271
Okay, it appears that we can use the `payload` parameter to populate the query params.

So in the end, I was able to make everything works like this:

[code]

This works as expected!

[2020-11-06 13:28] #271 closed

[2020-11-11 15:43] asegovianot opened #272 "Infoblox HTTP request failed with: HTTPSConnectionPool"
hi, I'm getting the next error when i try to run a playbook to create a record:

[code]

why this error is happening?

[2020-11-11 15:51] JonasKs commented on #272
Please format the exception properly with tripple backticks ( `\`` ) on each side.

[2020-11-11 16:13] asegovianot commented on #272
the problem was with "max_results" and "http_request_timeout" default values defined.
after sometime checking during day, when i write the post, i have been able to make working :-)

[2020-11-11 16:13] #272 closed

[2020-11-11 16:14] JonasKs commented on #272
It does say why it failed, it times out.

[code]

Ensure you have connectivity to the Infoblox host.
Unfortunately the Infoblox API is horribly slow, so if it times out your only solution is to increase the timeout.

[2020-11-11 16:18] asegovianot commented on #272
yes, that's the problem, it's the first time that use ansible with infoblox and if I compare it with ansible and cisco aci it's really slow
thanks!

[2020-12-02 22:59] IngmarVG-IB commented on #269
use "ips" instead of "ip" see objects.py line 13383

my_ip = objects.IP.create(ip='192.168.1.25', mac='aa:bb:cc:11:22:33')
versus
my_ip = objects.IP.create(ips=['192.168.1.25','192.168.1.26'], mac='aa:bb:cc:11:22:33')

[2021-01-19 08:40] jbakermk opened #274 "connector.Connector does not support client certificates"
The Connector assumes use of a username/password and does not allow a path to a certificate and key in order to configure the requests session. This can be achieved as follows:

1. Document a new option to Connector called cert, a tuple (path_to_cert, path_to_key).
2. Adjust _configure_options so username/password are only required if an option cert is not given, and set self.cert = options['cert'

[2021-01-19 21:36] pastephens opened #275 "broken in python3.7.9"
**sudo pip3 install infoblox-client**
WARNING: Running pip install with root privileges is generally not a good idea. Try `pip3 install --user` instead.
Collecting infoblox-client
  Using cached https://files.pythonhosted.org/packages/86/68/d154a4a3e549fbebb0922a721ce3a638c66c82fc486027433d0163744fdb/infoblox_client-0.5.0-py2.py3-none-any.whl
Requirement already satisfied: setuptools>=17.1 in /usr

[2021-01-20 11:42] JonasKs commented on #275
Operating system? This isn't Infoblox that fails to install, its `netifaces`. On ubuntu/fedora you need `python-dev`, and Arch/CentOS/RHEL you need `python-devel`.

[2021-01-28 04:18] pastephens commented on #275
RHEL7.

Thanks!

[2021-01-28 04:18] #275 closed

[2021-02-25 17:04] ddiguru opened #277 "Missing required support for file upload and download on the fileop object"
- OS - Mac OS X 11.2.1 (big sur)
- Python 3.9.2
- infoblox-client 0.5.0 (master)

There is currently no support for uploading files or downloading files when using the fileop object. For example, when calling uploadinit function on the Connector as part of a CSV import, there is no mechanism for performing a POST w/ files=<files_object> to the fully-qualified URL provided in the uploadinit respons

[2021-03-05 23:10] nu11ptr opened #279 "Asyncio Support"
Any plans to add asyncio support? Thx

[2021-03-08 14:16] #277 closed

[2021-03-22 15:55] eest opened #280 "How to search for string array types with get_object?"
When searching for "ipv4address" records using get_object() I can filter on a specific type using the types field:
[code]
Looking at WAPI manual at https://docs.infoblox.com/download/attachments/8945695/Infoblox_RESTful_API_Documentation_2.9.pdf it says the following regarding `types`:
[code]

How would I perform an array search? I feel I have tried all ways I can think of, including:
[code]
... n

[2021-04-01 09:58] bondar-pavel commented on #11
Closing this one as stale issue

[2021-04-01 09:58] #11 closed

[2021-04-01 10:05] bondar-pavel commented on #87
Closing, since seems to be already implemented here: https://github.com/infobloxopen/infoblox-client/blob/master/infoblox_client/objects.py#L544

[2021-04-01 10:05] #87 closed

[2021-04-15 13:46] cjstrang opened #281 "A record create when parent domain doesn't exist false positive"
Found this issue while testing. If an A record is submitted for a parent domain that doesn't exist it would normally fail however if the IP address that you are submitting the record for has records that exist then it returns the reference to one of those objects.

Installed version:
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.7 LTS"
infoblox-c

[2021-07-21 18:55] gavmckee80 opened #284 "Adding DHCP Options to a Network"
I'm trying to learn the API - in my example I'm trying to add the router, dns-servers, and other(s) .  Can someone help me understand how I do this ?

[code]

[2021-07-21 19:01] gavmckee80 commented on #284
@somashekhar  is this something you can advise on ?

[2021-07-22 11:22] somashekhar commented on #284
Hi @gavmckee80,
Below is an example to add DHCP Options to a network,
[code]

[2021-07-23 01:48] gavmckee80 commented on #284
Thanks so much for the advice @somashekhar

[2021-07-23 01:48] #284 closed

[2021-08-25 17:01] H0neyBadger opened #285 "ARecord create_check_exists false posive when ipv4addr is already assigned"
Hello,
we are unable to fully use the `create_check_exists` function on A records,
It raises an "already exists" message when the ipv4addr is already assigned to anther name.
steps to reproduce the issue
[code]

It looks like a bug, since it can lead to unexpected updates when update_if_exists is `True`

I think this issue can be fix by adding the "name" field in ARecord's `_search_for_update_fiel

[2021-08-26 10:54] michelealbrigo opened #286 "Looking for help on ExtensibleattributedefListvalues"
Hi everyone, I can't find a way to extract a list of values for a specific extesible attribute. I suppose the involved object is ExtensibleattributedefListvalues, but I can't figure out how to use it.

I am trying to upgrade a script I wrote for my job to use infoblox-client.

Script on GitHub: https://github.com/michelealbrigo/networktools/blob/master/ipam2ise.py

Relevant call:
[code]
Desired ou

[2021-10-05 10:33] achernevskii commented on #280
@eest hi.

I didn't find any information in the `wapidoc` on how to perform array-search. But I was able to test it on my `WAPI` instance.

Array-search can be performed this way using curl:
[code]

But the `infoblox-client` encodes array values as single key/value pair. I've fixed this behavior in the #287 PR. Take a look at this PR if you want to know more about the fix. I hope it will be merged

[2021-10-05 10:47] achernevskii commented on #285
@H0neyBadger hi.

Can you please explain what behavior do you expect from the case you described? Do you want to create two "alias" ARecords pointing to the same IP, but with different names?

[2021-10-21 15:32] achernevskii commented on #186
@jobec hi.

From a WAPI perspective paging is only available for searches where a large number of results is returned. If you're performing reference read, paging is not supported, because this operation will return only one object.

So, if you're calling the `get_object` method directly, you can disable paging like this:
[code]

[2021-10-26 07:59] #285 closed, assigned to achernevskii

[2021-10-28 11:46] H0neyBadger opened #290 "Unable to capture 500 errors"
Hello,
currently, it seems not possible to distinguish 404 errors from 5XX using connector's `_get_object`.
https://github.com/infobloxopen/infoblox-client/blob/d3131bd32efbe101276279ce29cf4d7954e040c7/infoblox_client/connector.py#L341-L344

the connector threat all http error exactly the same. as a result all get_object query are returning `None` object
[code]
Unfortunately, sometimes the infoblo

[2021-11-01 09:57] #173 closed

[2021-11-02 09:36] achernevskii commented on #169
You can get `IPAddress` directly and then access the `network` property, to get the network address.

For example, on my WAPI instance the following code:
[code]
WIll print:
[code]

Would that work for you?

[2021-11-09 14:46] #268 closed

[2021-11-09 14:50] #196 closed

[2021-11-10 12:35] achernevskii commented on #290
@H0neyBadger

Updated `Connector`'s `_get_object` method to raise requests `HTTPError` in case of incorrect HTTP response. This exception will be wrapped with `InfobloxConnectionError` by [`reraise_neutron_exception` decorator](https://github.com/infobloxopen/infoblox-client/blob/2efaf4b92fb077af28a2f5e44b88b6083efaa084/infoblox_client/connector.py#L53-L54).

So, if you want to process HTTP errors

[2021-11-11 13:11] #223 closed

[2021-11-29 13:37] jobec commented on #236
**Any chance this will ever get fixed?** Reverting commit d85e570 or extending it to catch authentication errors shouldn't be that difficult. In it's current state, releases post 0.4.22 are rather useless.

Or is this client abandoned?

[2021-12-02 09:11] #286 closed

[2021-12-02 09:13] #194 closed

[2021-12-08 17:34] ddiguru opened #294 "_custom_field_processing bug in NetworkV4 fails to properly serialize members"
High-level API call to NetworkV4 fails to serialize members properly. This has been confirmed on the infoblox-client 0.5.0, as well as, _master_. This was tested and confirmed on NIOS v8.5.3 and v8.5.4.

Steps to reproduce:

1. create a DHCP-enabled network 192.168.1.0/24 and associate two (2) Grid DHCP Member servers (NOT Microsoft Servers)

2. perform the following call in the Infoblox client:
`

[2021-12-08 19:42] ddiguru commented on #294
created PR #295

[2021-12-08 21:46] calberts opened #296 "Illegal object type (record:caa)"
Hoi
I like to create CAA record which is supported if I look in the object list. create host works fine.

But for the CAA I get the following error

infoblox_client.exceptions.InfobloxCannotCreateObject: Cannot create 'record:caa' object(s): b'{ "Error": "AdmConProtoError: Illegal object type (record:caa)", \n  "code": "Client.Ibap.Proto", \n  "text": "Illegal object type (record:caa)"\n}' [code 4

[2021-12-13 13:40] calberts commented on #296
It looks like this issue is due to the infoblox_client wapi version used. By default without specifying the wapi version, it uses version 2.1. which doesn't support CAA as it seams

When set-up the connection you must explicitly name the wapi version in my case  'wapi_version' : '2.11.2'

Also for CAA some attention is needed to the ca_flag  you must specify the bit(s) in Decimal, like
it will loo

[2021-12-13 13:40] calberts commented on #296
See above remark

[2021-12-13 13:40] #296 closed

[2021-12-13 15:05] calberts opened #297 "CAA records"
Hoi

I have an issue second with CAA records. I am not able to create multiple CAA records with the same name. This is in the GUI off infoblox allowed only the ca_tag and ca_value are different. So its should be possible.

INFO:infoblox_client.objects:Infoblox record:caa already exists

Any hints on this.

Chris

[2021-12-15 19:34] #297 closed

[2022-01-10 10:58] oren0e opened #298 "Problem creating a host with IP"
Hi, I'm trying to test simple actions with infoblox-client. I try to create a host with IP so that later I will be able to test getting an IP given a host name. My code is (sensitive information hidden):
[code]
But I get the following error at the end of the output (sensitive information hidden):
[code]
Maybe I'm creating this in the wrong way, I couldn't figure out from the documentation (which c

[2022-01-13 17:17] oren0e commented on #265
Hi, I'm getting something similar with version 0.5.0.
I try to update a host with a new IP so I do:
[code]
I receive the error:
[code]

[2022-01-18 14:32] eest commented on #280
@achernevskii thank you for the information!

[2022-01-27 12:28] ExaneServerTeam opened #299 "New Release Date"
Hello,

It's almost two years without a release on the project.
Any ETA for the next release?

I have indeed on my end at least one bug in the last release that keep me using it
and having to maintain a custom tree for deployment.

Regards,
Frédéric

[2022-02-04 14:55] kzhelyazkova opened #300 "Concurrent host record updates issue"
The only way the infoblox-client allows updates on host records (or any other object) is by obtaining the host record, modifying the object from the response and calling update with the modified object. The problem is that another call might update the host record between the obtainment and the update – in such case the update from the other call is overwritten. This leads to undesired results.

F

[2022-02-05 01:47] fawaf opened #301 "does this client support batch requests?"

[2022-02-15 23:22] gavmckee80 opened #302 "Question: Handling paging with get_object"
Hi,

I am making a request using get_object(obj_type='record:a',paging=True,max_results=500)

How do I get the next set of results from this object until there are no more results?

Thanks

Gav

[2022-02-17 10:42] sarya-infoblox commented on #269
Hi @piwigit does the above solution resolves your issue?

[2022-02-17 10:44] sarya-infoblox commented on #266
Hi @GKaren001, does the above solution resolves your issue?

[2022-02-17 10:47] sarya-infoblox commented on #243
Hi @Bahu2016, can you confirm if the solution provided above resolves your issue.

[2022-02-17 10:49] sarya-infoblox commented on #241
Hi @getsomebread, can you confirm if the solution provided above resolves your problem?

[2022-02-17 10:52] sarya-infoblox commented on #299
Hi @ExaneServerTeam Can you please elaborate the bug in detail.

Also, we are collecting all the information about issues, enhancement and will be planning for next release soon.

[2022-02-17 10:55] sarya-infoblox commented on #301
Hi @fawaf, Can you please elaborate your question and provide some information for the same.

[2022-02-17 10:57] sarya-infoblox commented on #236
Hi @nbartos are you still facing this issue?

[2022-02-17 10:59] sarya-infoblox commented on #172
Hi @ku0100 can you confirm if the solution provided above resolves your issue?

[2022-02-17 10:59] sarya-infoblox commented on #169
Hi @hawthorn can you confirm if the solution provided above resolves your issue?

[2022-02-17 11:02] sarya-infoblox commented on #154
Hi @ku0100 was your question answered or you are still facing this issue?

[2022-02-17 11:04] sarya-infoblox commented on #149
Hi @Zamboughnuts was your issue resolved?

[2022-02-17 11:07] ExaneServerTeam commented on #299
Hello,

The two bugs (Corrected) I am concerned with / used in my day to day workflows:

https://github.com/infobloxopen/infoblox-client/commit/2c9dd6a3aaab8408f0e3131232cbb8da30b1be92
https://github.com/infobloxopen/infoblox-client/commit/1e77c410099dc2765ca5075348149ab6bdc3c2ba

Regards,
Frédéric

[2022-02-17 11:55] hawthorn commented on #169
This resolved the issue

[2022-02-17 12:40] Zamboughnuts commented on #149
I haven't used this functionality in years, this issue can be closed.

On Thu, Feb 17, 2022, 06:04 Stuti Arya ***@***.***> wrote:

[2022-02-17 14:35] nbartos commented on #236
I'm no longer working on a project that uses infoblox, so I can't tell you if the problem persists.

[2022-02-17 20:44] keschae opened #303 "trouble installing infoblox-client on Windows 10 via pip install"
Seems as netifaces has trouble building and running setup.py

[2022-02-18 06:30] sarya-infoblox commented on #303
Hi @keschae, we have a lot of issues in our bucket right now, I will get back to you as soon as possible.

[2022-02-18 06:37] #236 closed

[2022-02-18 06:39] sarya-infoblox commented on #169
Closing the issue.

[2022-02-18 06:39] #169 closed

[2022-02-18 06:40] sarya-infoblox commented on #149
Closing the issue.

[2022-02-18 06:40] #149 closed

[2022-02-18 06:50] sarya-infoblox commented on #91
Hi @bondar-pavel I need to check for NIOS support and I will revert back as soon as possible.

[2022-02-18 06:51] sarya-infoblox commented on #75
Hi @bondar-pavel can you confirm if you are still facing this issue?

[2022-02-21 08:03] sarya-infoblox commented on #58
Closing the issue.

[2022-02-21 08:03] #58 closed

[2022-02-21 08:16] sarya-infoblox commented on #74
Hi @bondar-pavel, Are you still using make docs manually, and can you share the logs/error messages.

[2022-02-21 08:19] sarya-infoblox commented on #88
Hi @bondar-pavel are you still active for this issue request?

[2022-02-21 08:19] #88 closed

[2022-02-21 09:30] bondar-pavel commented on #88
I think it is ok to keep this one closed.
Current API is actually sufficient, so adding pull/push methods would be just a syntax sugar.
And it was not implemented in 6 years, so probably not worth doing it now.

[2022-02-21 09:33] bondar-pavel commented on #74
I have not worked on this repo for ~5 years, so I think this ticket is not relevant any more

[2022-02-21 09:33] #74 closed

[2022-02-21 09:36] bondar-pavel commented on #91
This one is from early days of repository existence, and I can not recall details of the original issue I had, so I think it's probably resolved by now.
I think all tickets created by me in 2016, can be closed now.

[2022-02-21 09:36] #91 closed

[2022-02-21 10:34] sarya-infoblox commented on #303
Hi @keschae, I tried installing infoblox-client in fresh setup with python 3.8 and it got successfully installed.
Can you please check again and share logs, error messages.

[2022-02-22 04:50] keschae commented on #303
The problem that I have is with the netifaces module. It seems to want to build that module with MS C++. I am working in a corporate environment where I am not allowed to install the Visual C++ build tools but it seems as though I have a recent version of the Visual C++ 2019 Redistributable. What are my options? Can I use a precompiled binary?

[2022-02-22 07:45] sarya-infoblox commented on #303
Hi @keschae, I would suggest you to use python 3.8 stable version as we are facing netifaces module error in latest python 3.10 version.
you can degrade your python version in visual C++.

[2022-02-22 11:46] sarya-infoblox commented on #302
Hi @gavmckee80 you can enter on your command prompt to view the next set of results.

Also, max_results and paging is defined as below:
max_results   (int): Maximum number of objects to be returned.
        If set to a negative number the appliance will return an error
        when the number of returned objects would exceed the setting.
        The default is -1000. If this is set to a positive n

[2022-02-23 02:05] keschae commented on #303
This installs fine on Linux (probably MacOS too). Windows is the trouble. In a corporate environment we are not allowed to install Visual C++ build tools. It's best if we have pure Python packages that don't need to be compiled. netifaces probably doesn't do much within the library could it be excluded and still get most of the functionality.

[2022-02-23 05:56] keschae commented on #303
Good suggestion I'll try that.

[2022-02-23 11:43] sarya-infoblox commented on #298
Hi @oren0e,

below is the correct method for creating host record.

def create_network() -> None:
    nview = objects.NetworkView.create(conn, name='test_view')
    network = objects.Network.create(conn, network_view='test_view', cidr='10.0.0.0/12')

def create_host() -> None:
    #create dns view first
    view = objects.DNSView.create(conn, network_view='test_view', name='my_dns_view')
    zone

[2022-02-23 11:47] sarya-infoblox commented on #303
Hi @keschae Can you try and confirm if this works for you and if I can close this issue.

[2022-02-28 08:57] sarya-infoblox commented on #299
Hi Frédéric,
The commit id 1e77c41 is already merged to master branch.
we are planning for our new release and will merge 2c9dd6a in that.

[2022-03-01 06:08] arezazadeh opened #304 "Help needed"
Hi All,

I have a big task on my plate, which i have to go to ~ 3000 networks and change their "member assignment" to a different ip/member.

i have been looking around but cant find the correct end-point for this.

any help is highly appreciate it!
Thanks,
Ahmad.

[2022-03-02 12:23] #290 closed

[2022-03-02 12:36] #294 closed

[2022-03-03 12:06] sarya-infoblox commented on #274
Hi @jbakermk, Can you provide an example where you are using client certificates.

[2022-03-04 18:34] keschae commented on #303
No. It doesn't really work for me because there is no longer a Python Windows installer. Only tar.gz updates for Python 3.8. In my company it is the same. I can't go back to Python 3.8. I hope you can remove that netifaces dependency in the future. Otherwise, unfortunately I cannot benefit from infoblox-client.

[2022-03-08 08:50] sarya-infoblox commented on #303
Hi @keschae Here is the solution for installing infoblox-client in higher python version.

install python setup tools
**pip install setuptools==58.1.0**
Then try install infoblox-client
**pip install infoblox-client**

Do let me know if this worked for you.

[2022-03-08 08:53] sarya-infoblox commented on #274
Hi @jbakermk, we are preparing a plugin release soon, and if you could provide an example where you are using client certificate and your use case. we might be able to provide the solution in next release.

[2022-03-08 08:54] sarya-infoblox commented on #304
Hi @arezazadeh we are working on your request, will get back to you soon.

[2022-03-09 07:44] sarya-infoblox commented on #75
Hi @bondar-pavel, Can you confirm if we can close this issue or you need some help?

[2022-03-09 07:45] sarya-infoblox commented on #110
Hi @arnaudcoquelet Can you please confirm if we can close this issue or you need help?

[2022-03-09 07:46] sarya-infoblox commented on #114
Hi @hosunghwang  Can you please confirm if we can close this issue or you need help?

[2022-03-09 07:46] sarya-infoblox commented on #154
Hi @ku0100 Can you please confirm if we can close this issue or you need help?

[2022-03-09 07:47] sarya-infoblox commented on #172
Hi @ku0100 Can you please confirm if we can close this issue or you need help?

[2022-03-09 07:48] sarya-infoblox commented on #233
Hi @noziwatele Can you please confirm if we can close this issue or you need help?

[2022-03-09 07:49] sarya-infoblox commented on #241
Hi @getsomebread Can you please confirm if we can close this issue or you need help?

[2022-03-09 07:49] sarya-infoblox commented on #243
Hi @Bahu2016 Can you please confirm if we can close this issue or you need help?

[2022-03-09 07:50] sarya-infoblox commented on #266
Hi @GKaren001 Can you please confirm if we can close this issue or you need help?

[2022-03-09 07:50] sarya-infoblox commented on #269
Hi @piwigit Can you please confirm if we can close this issue or you need help?

[2022-03-09 07:51] sarya-infoblox commented on #279
Hi @nu11ptr, closing this issue as this issue is not valid now.

[2022-03-09 07:51] #279 closed

[2022-03-09 07:52] sarya-infoblox commented on #298
Hi @oren0e Can you please confirm if we can close this issue or you need more help?

[2022-03-09 07:54] sarya-infoblox commented on #299
Hi Frédéric,
we have merged the above mentioned commits and
Can you please confirm if we can close this issue or you need help?

[2022-03-09 07:55] sarya-infoblox commented on #301
Hi @fawaf, Closing this request as right now we don't support batch request.

[2022-03-09 07:55] #301 closed

[2022-03-09 07:56] sarya-infoblox commented on #302
Hi @gavmckee80 Can you please confirm if we can close this issue or you need help?

[2022-03-09 07:57] sarya-infoblox commented on #303
Hi @keschae, Can you confirm this the solution worked for you, if yes can we proceed to close this issue?

[2022-03-09 09:41] GKaren001 commented on #266
Yes , please close the ticket.

Sent from my iPhone

[2022-03-09 11:26] sarya-infoblox commented on #266
Closing the issue.

[2022-03-09 11:26] #266 closed

[2022-03-09 17:30] oren0e commented on #298
Thanks for the help, I've managed so we can close the issue.

[2022-03-09 17:30] #298 closed

[2022-03-12 22:45] keschae commented on #303
Running setup.py install for netifaces ... error
  error: subprocess-exited-with-error

  × Running setup.py install for netifaces did not run successfully.
  │ exit code: 1
  ╰─> [5 lines of output]
      running install
      running build
      running build_ext
      building 'netifaces' extension
      error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build T

[2022-03-13 16:14] keschae commented on #303
I tried your suggestion of installing a specific version of "setuptools". I still have the same problem as before. As you can see it fails because I don't have Visual C++ build tools. I believe Visual C++ Build tools do not have an open source license. Therefore I cannot install them on my work computer. I can install them on my home personal computer. But this infoblox-client Python module instal

[2022-03-15 07:00] sarya-infoblox commented on #303
Hi @keschae, we are still exploring the options to resolve this issue, we will target this in our next release.

[2022-03-15 10:28] sarya-infoblox commented on #304
Hi @arezazadeh ,
you can try changing member assignment with the wapi calls. below is the example for that-

curl -k -u <username>:<password> -H 'content-type:application/json' -X PUT "https://<ip_address>/wapi/v2.11/network/<Ref_id_of_the_network>:<ip_address>/<cidr>/<view_name>" -d '{"members": [{"_struct": "dhcpmember", "name": "i<member_assignment>"}]}'

Let me know if this helps?

[2022-03-16 08:10] sarya-infoblox commented on #75
Closing the issue as no response from the user.

[2022-03-16 08:10] #75 closed

[2022-03-16 08:10] sarya-infoblox commented on #110
Closing the issue as no response from the user.

[2022-03-16 08:10] #110 closed

[2022-03-16 08:10] sarya-infoblox commented on #114
Closing the issue as no response from the user.

[2022-03-16 08:10] #114 closed

[2022-03-16 08:11] sarya-infoblox commented on #154
Closing the issue as no response from the user.

[2022-03-16 08:11] #154 closed

[2022-03-16 08:11] sarya-infoblox commented on #172
Closing the issue as no response from the user.

[2022-03-16 08:11] #172 closed

[2022-03-16 08:11] sarya-infoblox commented on #233
Closing the issue as no response from the user.

[2022-03-16 08:11] #233 closed

[2022-03-16 08:12] sarya-infoblox commented on #241
Closing the issue as no response from the user.

[2022-03-16 08:12] #241 closed

[2022-03-16 08:12] sarya-infoblox commented on #243
Closing the issue as no response from the user.

[2022-03-16 08:12] #243 closed

[2022-03-16 08:13] sarya-infoblox commented on #269
Closing the issue as no response from the user.

[2022-03-16 08:13] #269 closed

[2022-03-16 08:13] sarya-infoblox commented on #274
Closing the issue as no response from the user.

[2022-03-16 08:13] #274 closed

[2022-03-16 08:13] sarya-infoblox commented on #299
Closing the issue as no response from the user.

[2022-03-16 08:13] #299 closed

[2022-03-16 08:14] sarya-infoblox commented on #302
Closing the issue as no response from the user.

[2022-03-16 08:14] #302 closed

[2022-03-16 08:22] ExaneServerTeam commented on #299
Sorry, back from hollidays. All good on my end as the two commit have been merged & will be available in 0.5.1.

[2022-03-16 09:41] jobec commented on #236
I am still facing this issue.
Like I said, as long as commit https://github.com/infobloxopen/infoblox-client/commit/d85e570f6540efcd20c404897101a56c4257876a isn't reversed or authentication errors are not caught, this module has become unusable in long running daemons.

[2022-03-16 09:46] jobec commented on #303
Same issue here.
Client cannot be installed in Python 3.10 because there are no binary wheels built for netifaces.

Getting rid of that massive "oslo.log' external dependency looks like the best way forward. Or at least make it non-default requirement by moving is to the "extra" requirements. The amount of extra packages it requires is mind boggling.

[2022-03-16 09:54] sarya-infoblox commented on #303
Hi @jobec, we are working on the solution but meanwhile can you try the workaround and install visual C++ build tools and setup tools as I have mentioned above.

[2022-03-16 10:06] jobec commented on #303
Sorry, but that's not a feasible option.

1.  This package is part of some tooling for a lot of engineers. We cannot require them to install a full Visual Studio suite just for this one tiny module.
2. People cannot install such software themselves causing a lot of back and forth to get it installed. With repeated pain every time someone joins.

[2022-03-16 13:34] ku0100 commented on #154
This issue is from like 5 years ago...

On Wed, Mar 16, 2022 at 4:11 AM Stuti Arya ***@***.***> wrote:

[2022-03-22 01:09] keschae commented on #303
The other dealbreaker is this build tool does not have an open source license from Microsoft. It is a more restrictive license and it is not free and open.  I would hope you could achieve the same functionality with something that meets has true open source license.

[2022-04-14 15:17] coolcps opened #309 "Objects with : in name fail because of url encoding"
I can query discovery objects in the WAPI using the URL /wapi/v2.11.3/discovery:device, but when I try conn.get_object('discovery:device') I get a timeout error because the module is trying to call  /wapi/v2.11.3/discovery%3Adevice

[2022-04-14 17:26] #309 closed

[2022-04-14 17:31] coolcps commented on #309
Was looking in the wrong direction, just changing the max_results or timeout values fixed it.  Was too early in the morning -_-

[2022-04-23 05:51] NickJLange opened #310 "Support for client-certificates for authentication"
Could you add support for client-certificate authentication? It is just a pass-through to requests, which already supports client-certificates for authentication.

Thank you

[2022-04-27 15:34] ranjishmp commented on #310
@NickJLange Sure, will consider this for upcoming release..

[2022-04-28 12:10] staeglis opened #311 "FixedIPAddress: Set DHCPv4 options"
Hi,

how can I set DHCPv4 options like domain name, DNS server, search domains, next server for FixedIPAddress objects? When I run the following code all options except IP and mac aren't applied:
[code]

Best,
Stefan

[2022-04-28 21:24] stevenwmn opened #312 "How to catch this error"
I am trying to search IPAM for a network but if the network doesn't exist, I get an error that I cannot seem to catch. I cannot find the error in the execptions.py file either. below is a debug output
DEBUG:infoblox_client.connector:Sending get request to https://10.10.10.10/wapi/v2.11.3/ipv4address?ip_address=10.92.1.1&_return_fields=network with parameters {'timeout': 10, 'headers': {'Content-ty

[2022-04-28 21:26] stevenwmn commented on #312
This is the code where it fails
def get_network(connection, search_value):
    """Function to get which network an IP address belongs to
       expects ipaddress/mask"""
    kwargs = {
        'return_fields': [
            'network'
        ]
    }
    try:
        result = connection.get_object('ipv4address', {'ip_address': search_value}, **kwargs)
    except InfobloxConnectionError:
        pri

[2022-04-29 18:11] masq commented on #303
Bumping this issue.

It's an issue with python versions greater than 3.8 on Windows I believe, not just a Win10 issue with the package.

I have the same problems as the others; I cannot arbitrarily install things on my machine like Visual Studio because it's a corporate environment where I do not have administrative rights to install arbitrary things. Also, it's an absurd requirement to begin with

[2022-04-29 18:42] jobec commented on #303
It's not the infoblox package that uses it, it's the `oslo.*` dependencies causing it.

`infoblox-client` it's dependency tree isn't really pretty .... 🙈

Grab a 🍿 and start scrolling....

[code]

[2022-04-29 18:47] masq commented on #303
yep, haha, was just editing my comment to point that out @jobec! Thanks for the full thing though

[2022-04-29 18:52] jobec commented on #303
It"s fixed as easy as moving the oslo packages to an [extras_require statement](https://setuptools.pypa.io/en/latest/userguide/dependency_management.html?highlight=extras_require#optional-dependencies) in `setup.py`...

[2022-05-03 12:31] #312 closed

[2022-05-20 22:22] broestls opened #313 "Working API that won't accept empty JSON body on PUT"
I am trying to implement some Terraform-like behavior in a resource exposed by the Infoblox API. In this case, I want to change an attribute of an object to mark it as reserved, then null those properties when the resource is no longer needed. This is because the object I'm working with persistently exists and can't/shouldn't be deleted.

So I followed the example in [terraform-provider-restapi](h

[2022-05-20 22:24] broestls commented on #313
Filed against the wrong repo, apologies.

[2022-05-20 22:24] #313 closed

[2022-05-25 15:15] stevenwmn opened #314 "Cannot search network range larger than /22 using ipv4address object"
I am trying to return information on all IP addresses in a network but when I search a network larger than a /22 it fails raising an InfobloxConnectionError:Infoblox HTTP request failed with: HTTPSConnectionPool(host='192.168.1.1(https://github.com/infobloxopen/infoblox-client/files/8772364/code.snippet.txt)
', port=443): Max retries exceeded with url: /wapi/v2.11.3/ipv4address?ip_address%3E=10.83

[2022-05-31 14:15] rubin55 opened #315 "Create tag for release 0.5.1 and corresponding pypi packages"
Hi, I noticed there has been some recent work on a release 0.5.1, merged here:

https://github.com/infobloxopen/infoblox-client/commit/4ff68e0b7f346134984591468371ae4a2cf17dfe

I interpret that as 0.5.1 being released. However, I don't see a tag for version 0.5.1 yet, and no corresponding PyPi packages on https://pypi.org/project/infoblox-client/

Can you guys (further) release 0.5.1?

[2022-05-31 15:18] rubin55 commented on #315
Do you know if the current stable version (0.5.0) should work for most cases against NIOS 8.5 (wapi v2.11.3)? Any caveats I should be aware of?

[2022-06-02 00:04] thepkumar28 opened #317 "Need to save output of the infoblox-client API call to a csv file"
I want to backup all the Extensible attributes for a Network ,NetworkContainer and host to a csv file.
May I know the way to do it with infoblox-client API

I am searching the objects using
"objects.Network.search()"
"objects.NetworkContainer.search()"

My code :
ib_network = objects.Network.search(connection, network='131.226.217.128/27', network_view='default', return_fields=['default', 'extattr

[2022-06-09 12:06] thepkumar28 opened #320 "Updating Extensible Attributes using extattrs+ in infoblox-client API"
Hi All,

I am trying to update the Extensible attribute for a particular field but update() function deletes other existing values as well.
May I know how to counter this issue.

My code
def populate_NetworkContainer_ExtensibleAttribute(nw=str, comm=str, exatt=str):
    ib_network_container = objects.NetworkContainer.search(connection, network=nw, network_view='default', return_fields=['default',

[2022-06-24 07:28] jobec commented on #303
I see a new release is pending,
please please please @sarya-infoblox fix this!

Python 3.10 is a reality and 3.11 is on the way!

[2022-06-24 08:20] sarya-infoblox commented on #303
Hi @jobec, we are working on a release now and will resolve this issue.

[2022-06-28 21:33] gcoronae opened #324 "Automation Platform 2.x - infoblox-client is required but does not appear to be installed"
Not sure why Automation Platform Controller doesn't see the client under the default install.

Location: /usr/local/lib/python3.8/site-packages

[2022-06-29 16:45] dudefellah opened #325 "PtrRecordV4 (and possible PtrRecordV6) missing "name" in _search_for_update_fields?"
Hi,

I've been trying to create some PTR records for bonjour (`b._dns-sd._udp` and `lb._dns-sd._udp`) that use `ptrdname` to point to a (sub)domain. When I try to create these records with the Python API client, I see that there's no way to distinguish between one record or the other since the initial search looks for `['ptrdname', 'view', 'ipv4addr']`, so with both records having the same `ptrdna

[2022-06-29 17:25] dudefellah commented on #325
There's also a slightly different issue to add to this. As I'm trying to create a local workaround, I'm manually fetching a PTR record (with the name) in order to update it, or create it if the fetch failed. When doing the update on a PTR record where I'm only concerned with the `ptrdname` field, this Infoblox library sends back a blank `ipv4addr` field to the Infoblox appliance, which the Infoblo

[2022-06-30 10:04] Guxing0321 opened #326 "AdmConProtoError: Unknown object type (record:ns)"
Hi Team,

I have tried to add ns record with the code below

[code]

And it shows error below

[code]

Could you please give me some advice on it ?

BR
Robin

[2022-07-04 06:19] Guxing0321 commented on #326
hello team,

Any response?

BR
Robin

[2022-07-04 11:35] Guxing0321 opened #327 "AAAA Record Update not work"
Hi team,

I recently find the ipv6addr update not work

code blow:

[code]

And the result is original

[code]

Could you please give some advice on it ?

BR
Robin

[2022-07-05 07:00] sarya-infoblox commented on #327
Hi @Guxing0321,

We are working on a new release right now, we will look at this issue as soon as we get time.

[2022-07-05 07:01] sarya-infoblox commented on #324
Hi @gcoronae

We are working on a new release right now, we will look at this issue as soon as we get time.

[2022-07-05 07:01] sarya-infoblox commented on #317
Hi @thepkumar28

We are working on a new release right now, we will look at this issue as soon as we get time.

[2022-07-05 07:04] sarya-infoblox commented on #315
Hi @rubin55

Infoblox client (0.5.0) stable version is working fine with NIOS 8.6.1. If you observe any issues with that please raise them on the issues page of Infoblox-client Github.

[2022-07-05 07:06] sarya-infoblox commented on #315
Hi @rubin55

We are working on a new release right now and will release a new version soon. Closing this issue.

[2022-07-05 07:06] #315 closed

[2022-07-05 07:06] sarya-infoblox commented on #314
Hi @stevenwmn

We are working on a new release right now, we will look at this issue as soon as we get time.

[2022-07-05 07:07] sarya-infoblox commented on #311
Hi @staeglis

We are working on a new release right now, we will look at this issue as soon as we get time.

[2022-07-05 07:57] staeglis commented on #311
The issue is resolved for me.

First you have to adjust the queries
[code]

For host-name, domain-name and domainsearch you have to create a DHCpOption object:
[code]

[2022-07-05 07:57] #311 closed

[2022-07-08 01:34] Guxing0321 commented on #327
Hi @sarya-infoblox

Thanks for your reply, hope for your update soon

BR
Robin

[2022-07-18 19:25] itinneed2022 opened #333 "Python3.9 crashes with infoblox-client"
On any run using the infoblox-client, I receive the following:
redirecting (type: lookup) ansible.builtin.nios_next_ip to community.general.nios_next_ip
redirecting (type: lookup) community.general.nios_next_ip to infoblox.nios_modules.nios_next_ip
objc[1816]: +[__NSCFConstantString initialize] may have been in progress in another thread when fork() was called.
objc[1816]: +[__NSCFConstantString i

[2022-08-12 05:14] sarya-infoblox commented on #303
Hi @jobec and @keschae,

As of now, we don't have any other solution for this issue. As soon as we are finished with other timelines, we will have a look into it.

[2022-08-12 05:18] sarya-infoblox commented on #304
Hi,

Closing the issue as there is no further response.

[2022-08-12 05:18] #304 closed

[2022-08-12 05:21] sarya-infoblox commented on #310
Hi @NickJLange,

We are working on certificate-based authentication and will resolve it in future releases.

[2022-08-12 05:31] sarya-infoblox commented on #333
Hi @itinneed2022 , we are not providing support for python 3.9 right now, suggesting you use python 3.8. Hence closing the issue.

[2022-08-12 05:31] #333 closed

[2022-08-12 05:32] sarya-infoblox commented on #324
Hi @gcoronae,

Can you provide some more details and try cmd 'python3.8 -m pip install infoblox-client'
and verify whether the package is available or not if not then we will have a look.

[2022-08-12 11:42] sarya-infoblox commented on #317
Hi @thepkumar28,

        import csv

        # open the file in the write mode
        f = open('/Users/username/Documents/repo/infoblox-client/new.csv', 'w')

        # create the csv writer
        writer = csv.writer(f)
        response = objects.Network.search_all(conn, view='default', return_fields=['members'])
        # write a row to the csv file
        writer.writerow(response)

[2022-08-12 11:50] sarya-infoblox commented on #325
Hi @dudefellah,

This issue seems to be a big enhancement as the changes you are suggesting are related to Objects.py which has a lot of backward compatibility with different plugins. Also, we can’t remove the 'ipv4addr' field from '_updateable_search_fields' as this field is a dependent field for multiple Operations like Updating the record, Creating a new record, etc.

We can look into this issu

[2022-08-12 12:10] sarya-infoblox commented on #327
Hi @Guxing0321,

Earlier the update was not working on AAAARecord and we were working on the bug. Now, the issue is fixed and merged successfully. Just update your 'infoblox-client' plugin from GitHub as the code is yet to released on pip

Use the below method to update your AAAArecord,

a_s = objects.AAAARecord.search(conn, name="demo_test.com")
        # Updated the Record
        setattr(a_s, "

[2022-08-12 13:36] sarya-infoblox commented on #326
Hi @Guxing0321,

You are using the wrong syntax please use-

res, isOk = objects.NsRecord.create_check_exists(conn, view='default',  nameserver='new_my_zone.com', addresses=[{
                                                                 'address': '10.0.0.6'}] )

Let me know if this helps.

[2022-08-12 14:43] gcoronae commented on #324
Hi Stuti Arya,

Thank you for the follow up.  Since my inquiry I've learned the necessity
of  Execution Environments in Ansible Automation Platform.  I'm building
our own containers with all the dependencies needed to run Infoblox
collection/modules.

Thank you!
Gus

On Thu, Aug 11, 2022 at 10:33 PM Stuti Arya ***@***.***>
wrote:

[2022-08-16 01:18] Guxing0321 commented on #326
Hello @sarya-infoblox ,

Sorry for the late response,  your advice is great help for me.
And now the issue is resolved

BR
Robin

[2022-08-16 01:18] #326 closed

[2022-08-16 01:20] Guxing0321 commented on #327
Hi @sarya-infoblox

Thanks for your reply, the issue is resolved by your update.
Thanks for your greate job

BR
Robin

[2022-08-16 01:20] #327 closed

[2022-08-16 01:20] Guxing0321 commented on #327
Hi @sarya-infoblox

Thanks for your reply, the issue is resolved by your update.
Thanks for your greate job

BR
Robin

[2022-10-05 22:20] tucked opened #346 "MAC required to create IPv6 address"
[code]
Workaround:
[code]

[2022-10-06 00:34] tucked opened #347 "ARecordBase.create encodes query params incorrectly when an IP is passed instead of a str"
[code]
In 0.5.0:
[code]
In 0.5.1:
[code]
Note that `?ipv4addr=ipv4addr&` should be `?ipv4addr=127.0.0.1&`.

I haven't pinpointed the issue, but I suspect it's somewhere around here:
https://github.com/infobloxopen/infoblox-client/blob/bff3a6613b918d2d0d4e4cc989d6c964f5aac1a4/infoblox_client/objects.py#L290

Maybe `IP` should override `to_dict`?
[code]

The difference between 0.5.0 and 0.5.1 is lik

[2022-10-06 11:20] sarya-infoblox commented on #347
Hi @tucked

We are working on a priority ticket as of now and will look into this issue as soon as I get some time.

[2022-10-06 11:20] sarya-infoblox commented on #346
Hi @tucked

We are working on a priority ticket as of now and will look into this issue as soon as I get some time.

[2022-10-12 07:06] RemcoAA opened #349 "Request for info on how to use the Grid Class to restart services"
Hi,

We are trying to include a service-restart in our code when adding ForwardZones but we have some issues understanding how to use this function.

Do you have an example to show how this function should be used?

Regards,

Remco

[2022-10-12 16:38] thesutex opened #351 "cant create network : AdmConProtoError"
after upgrading from 0.5.0 ansible fails when creating network.

ansible snippet:
      - name: Create a network
        community.general.nios_network:
          network: "{{ networkaddr[0] }}"
          comment: "{{ network_name }}"
          state: present
          provider: "{{ {'host': nioshost, 'username': niosuser, 'password': niospassword} }}"

error:
{ "Error": "AdmConProtoError: Field i

[2022-10-13 05:17] hemanthKa677 commented on #351
Can you please let me know, what is the version of ansible modules , you are running on? And please do share me of infoblox-client version.

[2022-10-14 06:33] hemanthKa677 commented on #351
We have fixed that bug create because of template which is non searchable field. Please install latest version of both ansible and infoblox-client. And try checking the create network.

[2022-10-21 14:14] Karthik-13 commented on #303
Hi team, any update on this issue? My organization is also blocked by this problem

[2022-11-18 02:18] scetron opened #354 "InfobloxConnectionError Hides reason for failed query"
The InfobloxConnectionError returned when searching for IPv4Address objects (that don't exist) hides the error response from Infoblox that the network does not exist and gives an invalid URL instead.

[code]

The error should be more descriptive at the very least. I would argue that the error is wrong as technically the URL is correct.

[2022-11-23 16:22] gaetanpouilly opened #355 "zone_format has been removed from return_fields in DNSZone"
Hello,

According to this commit : https://github.com/infobloxopen/infoblox-client/commit/4d8b2a42d6064befd228af973e4dae0dcbfe7f16#diff-2cb2ff0980030546f9428ba747474917b82871b9fef68df20ee47fdf59758b44

At line 18130 from infoblox_client/objects.py file, the variable zone_format has been removed from _returns_fields
Is it possible to return it ?

Best Regards

[2022-11-24 06:37] sarya-infoblox commented on #355
Hi @gaetanpouilly, Can you let me know why you need zone_format in _returns_fields? As this was removed based on the past requirements.

[2022-11-24 06:39] sarya-infoblox commented on #354
Hi @scetron, Thanks for bringing up this issue, we will take try and fix it in our next release.

[2022-11-24 06:40] sarya-infoblox commented on #351
Closing this ticket as there is no response from the user.

[2022-11-24 06:40] #351 closed

[2022-11-24 06:44] sarya-infoblox commented on #303
Hi, @Karthik-13 we have released our new version of infoblox-client v0.6.0 and it supports python3.9. Can you try our latest released plugin?

[2022-11-24 06:45] sarya-infoblox commented on #310
Hi @NickJLange, We have provided certificate-based authentication in our latest release. Can you try and confirm if you need further help?

[2022-11-24 06:46] sarya-infoblox commented on #317
Closing this ticket as there is no response from the user.

[2022-11-24 06:46] #317 closed

[2022-11-24 06:49] sarya-infoblox commented on #324
Hi @gcoronae, do you need any further help or should I proceed with issue closure?

[2022-11-24 08:10] gcoronae commented on #324
Hi, please proceed and close the issue.  Thank you!

On Wed, Nov 23, 2022 at 10:49 PM Stuti Arya ***@***.***>
wrote:

[2022-11-24 08:21] gaetanpouilly commented on #355
Hi @sarya-infoblox, we used it to get forward zone.

[2022-11-24 16:50] onitake opened #356 "Support custom CA bundles for certificate validation"
The requests library supports True, False or a string value for the `verify` parameter in HTTPS requests, or the Session object: https://requests.readthedocs.io/en/latest/user/advanced/#ssl-cert-verification

With the way the `ssl_verify` connection parameter is processed in the infoxblox-client module, it's not possible to pass a bundle path. Only stringified boolean values are supported.

Due to

[2022-11-24 16:50] NickJLange commented on #310
Will give it a spin next week - thank you!

[2022-11-25 06:10] sarya-infoblox commented on #324
Closing this issue.

[2022-11-25 06:10] #324 closed

[2022-11-25 16:41] achernevskii commented on #355
@gaetanpouilly hello.

We auto-generate `objects.py` file based on the WAPI schema, which one can fetch from the NIOS instance.

WAPI field will be in the `_return_fields` list, if it's marked in schema as a `standard_field`.

You can get `zone_format` field definition using curl:
[code]

As you can see in the result this field is not standard:
[code]

I don't think that adding exception to the `o

[2022-11-28 18:14] onitake opened #357 "Support dictionary semantics in EA class"
The objects.EA class is somewhat awkward to use, because it only has custom `get()` and `set()` methods, in addition to the custom serializer `from_dict()`/`to_dict()`.

It would be very useful to add the full set of collection operations, as described in https://docs.python.org/3/reference/datamodel.html#emulating-container-types , or inherit from https://docs.python.org/3/library/collections.htm